---

---

<!-- <AboutL /> -->	

<p>Here are my some of my awesome built in features:</p>

	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://my-astro-app-1nk.pages.dev/">Hello, Astronaut!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://stargarden.peter-244.workers.dev/">stargarden</a
      >
    </span>

    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=54zudEPxBrE">THE REAL ISMAEL PEREZ</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/pannon/">pAnNON</a
      > | <a
              class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/kV2d3UMtWI2h">the Q-King</a
      > 
    </span>



		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/">1954.date</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://peaceful1934.netlify.app/">peaceful1934</a
      >
    </span>

		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1934.date/">1934.date</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://solidjs.peter-244.workers.dev/">Astro Sphere-solidjs</a
      >
    </span>


		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://docstailwind-71465781-e91bb.web.app/">docstailwind</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://astrowind-91824697-20391.web.app/">astrowind</a
      >
    </span>


    		<span class="my-1"><a
        class="underline text-yellow-300 bg-black font-bold text-justify hover:text-orange-500"
        target="_blank"
        rel="noopener noreferrer"
        href="https://yandex.com/">yandex</a
      > | <a
        class="underline text-yellow-300 bg-black font-bold text-justify hover:text-orange-500"
        target="_blank"
        rel="noopener noreferrer"
        href="https://ya.ru/">ya</a
        > | <a
        class="underline text-yellow-300 bg-black font-bold text-justify hover:text-orange-500"
        target="_blank"
        rel="noopener noreferrer"
        href="https://presearch.com/">presearch</a
      > | <a
        class="underline text-yellow-300 bg-black font-bold text-justify hover:text-orange-500"
        target="_blank"
        rel="noopener noreferrer"
        href="https://freespoke.com/">freespoke</a
      >
    </span>

    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/c-372815">Journey to Truth</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@MichaelSalla/videos">Michael Salla</a
      >
    </span>


    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/Mary">We The People NEWS</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/StartTheStorm">Start The Storm</a
      >
    </span>


    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/DUMBSandUNDERGROUND">DUMBS and UNDERGROUND ⚔ The Invisible War ⚔</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/ReptoTV">REPTOS, SHAPESHIFTERS, VRIL, GRAYS - ALIEN DOMINION - Secret Space</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/LeeMerrittMD">The Medical Rebel</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v70n19o-ep-392-ex-marine-michael-selig-alien-manipulation-and-deep-state-deceit-exp.html">EP 392 | Ex Marine: Michael Selig | Alien Manipulation & Deep State Deceit | Exposing a Covert Evil</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/supersoldiertalk">supersoldiertalk</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/projectcamelot">projectcamelot</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/ECETISTARGATEOFFICIAL">ECETI STARGATE ~ OFFICIAL</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/channel/KBziqs7AlFFF/">PIXIE LOVE</a
            > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/video/soC20jpbtGlN/">Enoch</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-red-700 bg-yellow-100 font-bold text-justify text-transform: uppercase hover:text-red-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/thimerosal/#mercury">Hard evidence that all vaccines are poison. Every single one!</a
      > 
    </span>

   	<span class="my-1"><a
        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/38a79874-9afc-4a8e-abc7-f470141897c3">DR. MCCULLOUGH: VACCINES IDENTIFIED AS DOMINANT RISK FACTOR FOR AUTISM</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/fda8acb1-cf10-46f8-b04e-ba2db149a67f">‘The Amish have essentially NO AUTISM’ - link between VACCINES & autism</a
            > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/da8cf1e7-59e4-416a-8bb6-0fb01f699498">The REAL Cause of Autism Revealed: Dr. Berg Explains</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/channels/highwire/videos/all">The HighWire with Del Bigtree</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/6c3b5f13-647e-449f-b500-2f49f0d02883">DR. TENPENNY ON VACCINES, IMMUNITY & THE CHRONIC ILLNESS CRISIS</a
        > | <a
        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/autism/#autismone">AutismOne 2014 - Andreas Kalcker - Successful Treatment of Autism (CDS)</a
      >
    </span>

    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/channel/maori-morpheus/">MAORI MORPHEUS</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/channel/thecosmicswitchboardcom/">thecosmicswitchboard.com</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=RWjphP6ruF8">He Rescued a 'Puppy' From a Blizzard. It Grew Into Something Terrifying</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=bPHbZ4140xs">Why Medieval Log Cabins Stayed Warm in -40°F While Modern Homes Freeze</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=T-IiZEfjT-o&t=1s">Secrets of Antarctica - Echoes of An Alien Race Linda Moulton Howe | Full Documentary</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/iMQmtT7SBDyw">The Mike Holt Show</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/video/u63u1Jyl6mzZ">Jacquie travels without a driver's licence</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=230E18_suTU">I promise to pay the bearer on demand ...</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=RMxKKtw43iw">We are already in credit!</a
      >
    </span>

        	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=ytEGAJtp-g0">How Australia’s Constitution Was Altered Without Your Consent - (1973 Explained)</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=s-iUyxhEiM0">Banks : Do They REALLY Have Your Money? The Truth May Shock You</a
      >
    </span>


        	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=7pK_yIm_qQw">3 MINS AGO! Albanese LOOSES It as Nat Barr Accuses Labor of Failing Aussies on LIVE TV</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=4k8jK5A84sw">3 MINS AGO! Chris Bowen TERRIFIED as Albanese to SACK HIM as Energy Cost Crashes Australian Economy</a
      >
    </span>


        	<span class="my-1"><a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/kV2d3UMtWI2h">the Q-King</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/video/hOiXlnwNqGUr">Gene Decode & David Nino Rodriguez: Get Ready 6.7.25: Trump's Military Alliance Preparing For Major War!</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/channels/alexcollierofficial2/home">Alex Collier Official 2</a
        > 
    </span>

        	<span class="my-1"><a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/sydney/guildford">guildford-w-zone</a
      > | <a
        class="underline text-blue-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/sydney/westmead">westmead-w-zone</a
      > | <a
        class="underline text-blue-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/central-tablelands/wentworth-falls">wentworth-falls</a
      > | <a
        class="underline text-blue-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/sydney/kingswood">kingswood</a
  >
    </span>


    	<span class="my-1"><a
        class="underline text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.farmonlineweather.com.au/place/nsw/guildford/2161/current?station=bom-94765">guildford/2161-farmonlineweather</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bom.gov.au/location/australia/new-south-wales/metropolitan/o117158002-old-guildford">old-guildford-bom</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/worldclock/@9972700">timeanddate</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.eldersweather.com.au/local-forecast/nsw/guildford">eldersweather</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.9news.com.au/weather/nsw/guildford">9news.com.au</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/iMQmtT7SBDyw">The Mike Holt Show</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/video/u63u1Jyl6mzZ">Jacquie travels without a driver's licence</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=EozLMXjrROQ&t=4s">Challenging the system in Australia</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=xl63IqETCGI&t=3s">Taking advantage of the Bills of Exchange Act</a
      >
    </span>

	<span class="my-1">
    <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=rcad_g-wpms&t=1s">It may be a rough ride, but rejoice!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=DtQ8EhyQgSo">The side of Barbara O'Neill that you never knew about!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=1zJH9YhjwEg">Dismantling the C19 narrative</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=dTK8V2MZ_p0">New Earth: The Dawn of the Galactic Human</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=RbzgfBLrscg">Australia's Forgotten Electronics Giant</a
      >
    </span>

    <span class="my-1">
    <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/astronomy/australia/sydney">Sydney-sun-set</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/worldclock/australia/sydney">Sydney-time</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.time.is/">Time</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@Big_Daddy-7Q">BIG DADDY</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/user/MichaelJaco">Michael Jaco</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=99Q4JKOToTs">Jabs & Cholesterol Meds Linked to Dementia</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@SkyePrinceofficial/">Skye Prince</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.rumormillnews.com/">The Rumor Mill News Reading Room</a
        > | <a
        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://operationdisclosureofficial.com/all/">Operation Disclosure</a
        > | <a     
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://voyages-of-light.com/blog/">Voyages of Light</a    
        >
    </span>
<p><a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v6wgn46-3-herbs-curing-all-4-major-parasitic-infections-by-dr.-brian-ardis.html">3 Herbs Curing all 4 Major Parasitic Infections (Cancer) by Dr. Bryan Ardis</a
      ></p>
      <p><a
        class="underline text-white bg-sky-500 font-bold text-justify text-transform: uppercase hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://huldaclark.com/The_Cure_for_All_Cancers_Reprint_2008.pdf"
        >Dr. Hulda Clark book The Cure for All Cancers</a
      ></p>





