---
import IntelLL from "./IntelLL.astro";
import RUMB from "./RUMB.astro";
import RUMOR from "./RUMOR.astro";
import SEARCH from "./SEARCH.astro";
import WZONE from "./WZONE.astro";
import XCOM from "./XCOM.astro";
import YOUT from "./YOUT.astro";
---

<!-- <AboutL /> -->	
<SEARCH />
<WZONE />
<IntelLL />
 <XCOM />
 <RUMB />
 <YOUT />
 <RUMOR /> 

<p class="mb-4 text-base text-left font-bold">Here are my some of my awesome built in features:</p>

	<span class="my-1"><a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://astrowind1.peter-244.workers.dev/">astrowind1</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://my-astro-app-1nk.pages.dev/">Hello, Astronaut!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://stargarden.peter-244.workers.dev/">stargarden</a
      >
    </span>

    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=54zudEPxBrE">THE REAL ISMAEL PEREZ</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/pannon/">pAnNON</a
      > | <a
              class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/kV2d3UMtWI2h">the Q-King</a
      > 
    </span>

     
    <p class="mb-4 text-base text-left font-bold">Intel:6</p>

		<span class="my-1"><a
        class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/">1954.date</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://peaceful1934.netlify.app/">peaceful1934</a
      >
    </span>
  
		<span class="my-1"><a
        class="underline text-white bg-fuchsia-700 font-bold text-justify text-transform: uppercase hover:bg-fuchsia-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://docstailwind-71465781-e91bb.web.app/">docstailwind</a
      > | <a
        class="underline text-white bg-cyan-800 font-bold text-justify text-transform: uppercase hover:bg-cyan-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://astrowind-91824697-20391.web.app/">astrowind</a
      >
    </span>


   
    <p class="mb-4 text-base text-left font-bold text-transform: uppercase ">Cancer Is Caused By Parasites</p>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/LeeMerrittMD" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >The Medical Rebel</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://drleemerritt.com/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >The Medical Rebel drleemerritt.com</span
    >
  </a>
</h5>



 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/Parasites-a-New-Paradigm-Dr.-Lee-Merritt:9" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >How to rid yourself of Parasites and is CANCER IS CAUSED BY PARASITES?Dr.-Lee-Merritt</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@SuddenDeath:c/parasites:1" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >Getting rid of parasites and fixing neurological problems? - Dr. Lee Merritt, MD</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@DryFastingClub:7/secret-to-getting-rid-of-parasites:6" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >Secret to Getting Rid of Parasites Faster and More Effectively: Dry Fasting</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@SuddenDeath:c/hydrogon-water:7" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >Can Hydrogen water stop tremors? - Dr Paul Barattiero</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/9d1f789c-aea7-42c6-98da-7ad9cb78d97c" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >Lyra Nara Inc: Cancer Is Caused By Parasites</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@LyraNara:3" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >@LyraNara:3</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/playlist?list=UUg-W_to0XNZaUV6kE9X3ssQ" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >Lyra Nara Inc</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.bitchute.com/video/vr9R08LE6p8/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >Customized DMSO Therapy & HERBESO - The Unique Lyra Nara Way</span
    >
  </a>
</h5>


    	<span class="my-1"><a
        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-purple-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/supersoldiertalk">supersoldiertalk</a
      > | <a
        class="underline text-white bg-pink-700 font-bold text-justify hover:bg-pink-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/projectcamelot">projectcamelot</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/ECETISTARGATEOFFICIAL">ECETI STARGATE ~ OFFICIAL</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/channel/KBziqs7AlFFF/">PIXIE LOVE</a
            > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/video/soC20jpbtGlN/">Enoch</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-red-700 bg-yellow-100 font-bold text-justify text-transform: uppercase hover:text-red-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/thimerosal/#mercury">Hard evidence that all vaccines are poison. Every single one!</a
      > 
    </span>

   	<span class="my-1"><a
        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/38a79874-9afc-4a8e-abc7-f470141897c3">DR. MCCULLOUGH: VACCINES IDENTIFIED AS DOMINANT RISK FACTOR FOR AUTISM</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/fda8acb1-cf10-46f8-b04e-ba2db149a67f">‘The Amish have essentially NO AUTISM’ - link between VACCINES & autism</a
            > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/da8cf1e7-59e4-416a-8bb6-0fb01f699498">The REAL Cause of Autism Revealed: Dr. Berg Explains</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-white bg-pink-700 font-bold text-justify hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/channels/highwire/videos/all">The HighWire with Del Bigtree</a
      > | <a
        class="underline text-white bg-pink-700 font-bold text-justify hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/6c3b5f13-647e-449f-b500-2f49f0d02883">DR. TENPENNY ON VACCINES, IMMUNITY & THE CHRONIC ILLNESS CRISIS</a
        > | <a
        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/autism/#autismone">AutismOne 2014 - Andreas Kalcker - Successful Treatment of Autism (CDS)</a
      >
    </span>


    		<span class="my-1"><a
        class="underline text-white bg-pink-700 font-bold text-justify hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/ded125e4-d3ee-4a88-beeb-6443c86a6616">10 FACTS VACCINE COMPANIES Don't Want You to Know</a
      > | <a
        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://vimeo.com/199506242">10 FACTS VACCINE COMPANIES Don't Want You to Know</a
      >
    </span>

    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/channel/maori-morpheus/">MAORI MORPHEUS</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/channel/thecosmicswitchboardcom/">thecosmicswitchboard.com</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=RWjphP6ruF8">He Rescued a 'Puppy' From a Blizzard. It Grew Into Something Terrifying</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=bPHbZ4140xs">Why Medieval Log Cabins Stayed Warm in -40°F While Modern Homes Freeze</a
      >
    </span>

     <p class="mb-4 text-base text-left font-bold text-transform: uppercase ">Secrets of Antarctica - Echoes of An Alien Race Linda Moulton Howe | Full Documentary</p>

    	<span class="my-1"><a
        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=T-IiZEfjT-o&t=1s">Secrets of Antarctica - Echoes of An Alien Race Linda Moulton Howe | Full Documentary</a
      >
    </span>

    <p class="mb-4 text-base text-left font-bold text-transform: uppercase ">The Mike Holt Show</p>

    	<span class="my-1"><a
        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/iMQmtT7SBDyw">The Mike Holt Show</a
      > | <a
        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/video/u63u1Jyl6mzZ">Jacquie travels without a driver's licence</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=230E18_suTU">I promise to pay the bearer on demand ...</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=RMxKKtw43iw">We are already in credit!</a
      >
    </span>

        	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=ytEGAJtp-g0">How Australia’s Constitution Was Altered Without Your Consent - (1973 Explained)</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=s-iUyxhEiM0">Banks : Do They REALLY Have Your Money? The Truth May Shock You</a
      >
    </span>


        	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=7pK_yIm_qQw">3 MINS AGO! Albanese LOOSES It as Nat Barr Accuses Labor of Failing Aussies on LIVE TV</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=4k8jK5A84sw">3 MINS AGO! Chris Bowen TERRIFIED as Albanese to SACK HIM as Energy Cost Crashes Australian Economy</a
      >
    </span>


        	<span class="my-1"><a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/kV2d3UMtWI2h">the Q-King</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/video/hOiXlnwNqGUr">Gene Decode & David Nino Rodriguez: Get Ready 6.7.25: Trump's Military Alliance Preparing For Major War!</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/channels/alexcollierofficial2/home">Alex Collier Official 2</a

      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/96a615e6-47d8-4ae9-ad22-d1ff33fb5eaa"
        >Watch Alex Collier Interview Webinar #25 – With Brad Olsen – Friday, January 23rd, 2026!</a

      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/channels/jaguar11/home">The Cosmic Switchboard</a

      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/7443ec10-59f8-4b49-8286-9555568c1615"
        >Secrets of Antarctica: UFOs, Underground Bases & More – Brad Olsen Interview with James Bartley</a
        > 
    </span>

    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/video/O260yiFZEY6P/">The GoldFish Report No. 400 - Special Edition: Space Policy & Earth Dilemma w/ Alex Collier</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://banned.video/watch?id=68ff3acae1117ee5933660b1">How Big Pharma Turned Cancer Into a TRILLION-DOLLAR Business</a
      >
    </span>


    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v6jje67--chlorine-dioxide-banned-censored-and-feared-by-big-pharma-w-jonathan-otto.html?">Chlorine Dioxide: Banned, Censored & Feared by Big Pharma w/ Jonathan Otto</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v6zwrxa-the-disturbing-truth-about-parasites-live-q-and-a-w-dr.-jason-dean.html?">The DISTURBING Truth About Parasites — Live Q&A w/ Dr. Jason Dean</a
      >
    </span>


    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v6y5rxm-from-oil-barons-to-pill-pushers-the-rockefeller-war-on-health-w-jeff-adam.html?">From Oil Barons to Pill Pushers: The Rockefeller War on Health w/ Jeff Adam</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v6y7c88-the-final-battle-nanotech-transhumanism-and-the-war-for-your-soul-w-dr.-ed-.html?">The Final Battle: Nanotech, Transhumanism & the War for Your Soul w/ Dr. Ed Group</a
      >
    </span>

    	<span class="my-1"><a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=EozLMXjrROQ&t=4s">Challenging the system in Australia</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=xl63IqETCGI&t=3s">Taking advantage of the Bills of Exchange Act</a
      >
    </span>

    <p class="mb-4 text-base text-left font-bold">It may be a rough ride, but rejoice!</p>

	<span class="my-1">
    <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=rcad_g-wpms&t=1s">It may be a rough ride, but rejoice!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=DtQ8EhyQgSo">The side of Barbara O'Neill that you never knew about!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=1zJH9YhjwEg">Dismantling the C19 narrative</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=dTK8V2MZ_p0">New Earth: The Dawn of the Galactic Human</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=RbzgfBLrscg">Australia's Forgotten Electronics Giant</a
      >
    </span>

   
 <p class="mb-4 text-base text-left font-bold">One Who Knows: It’s The End Of The World As We Know It, And I Feel Fine</p>
   

    <span class="my-1">
    <a

        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=99Q4JKOToTs">Jabs & Cholesterol Meds Linked to Dementia</a
      > <br> <a
      
        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://operationdisclosureofficial.com/all/">Operation Disclosure</a
      > <br> <a 

        class="underline text-blue-700 bg-black font-bold text-justify hover:text-sky-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://dinarchronicles.com/intel/">Dinar Chronicles</a
      > <br> <a

                
        class="underline text-blue-700 bg-black font-bold text-justify hover:text-sky-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://dinarchronicles.com/2025/12/30/new-information-coming-tomorrow-by-one-who-knows-12-29-25/">“New Information Coming Tomorrow…” by One Who Knows – 12.29.25</a
        > <br> <a 

        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://operationdisclosureofficial.com/2025/12/30/one-who-knows-its-the-end-of-the-world-as-we-know-it-and-i-feel-fine/"
        >One Who Knows: It’s The End Of The World As We Know It, And I Feel Fine</a
        > <br> <a 
        

        class="underline text-green-700 bg-white font-extrabold text-justify hover:text-green-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://operationdisclosureofficial.com/2026/01/16/one-who-knows-current-events-the-50000-foot-view/"
        >One Who Knows: Current Events, the 50,000 Foot View</a
        > <br> <a 


        class="underline text-green-700 bg-white font-extrabold text-justify hover:text-green-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://operationdisclosureofficial.com/tag/one-who-knows/"
        >Tag: One Who Knows</a
        > <br> <a 

        class="underline text-blue-700 bg-black font-bold text-justify hover:text-sky-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://dinarchronicles.com/2025/12/30/its-the-end-of-the-world-as-we-know-it-and-i-feel-fine-by-one-who-knows-12-30-25/"
        >One Who Knows: It’s The End Of The World As We Know It, And I Feel Fine</a
        > <br> <a 

        class="underline text-sky-700 bg-white font-extrabold text-justify hover:text-sky-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=KqQu48v6VlQ"
        >I Have Never Seen This Before! Astrologer REVEALS What’s Coming For Humanity In 2026 | Pam Gregory Wisdom From North and Pam Gregory</a
        > <br> <a 

        class="underline text-sky-700 bg-white font-extrabold text-justify hover:text-sky-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=oNlQlF1K4C8"
        >World Famous Astrologer On The Massive Shift Coming In 2026 | Pam Gregory Wisdom From North Clips</a
        > <br> <a 


        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://voyages-of-light.com/blog/">Voyages of Light</a
        > | <a     
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://voyages-of-light.com/2025/11/01/the-biggest-lie-ever-told-judith-kusel/">The Biggest Lie ever Told | Judith Kusel</a    
        
        > <br> <a 
        class="underline text-green-700 bg-white font-extrabold text-justify hover:text-green-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://sunnysjournal.com/2026/01/27/x-marks-the-spot-holly-celiano-mr-x/"
        >X Marks the Spot | Holly Celiano & Mr X</a

                
        > <br> <a 
        class="underline text-green-700 bg-white font-extrabold text-justify hover:text-green-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://sunnysjournal.com/2026/01/30/understanding-saudi-arabias-role-in-the-deep-state-bioclandestine/"
        >Understanding Saudi Arabia’s Role in the Deep State | BioClandestine</a
                        
        > <br> <a 
        class="underline text-green-700 bg-white font-extrabold text-justify hover:text-green-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://sunnysjournal.com/2026/01/30/power-shifts-timing-is-everything-ben-danklin/"
        >Power Shifts. Timing is EVERYTHING. | Ben Danklin</a

        >
    </span>

  <p class="mb-4 text-base text-left font-bold">3 Herbs Curing all 4 Major Parasitic Infections (Cancer) by Dr. Bryan Ardis</p>

    <span class="my-1">
    <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v6wgn46-3-herbs-curing-all-4-major-parasitic-infections-by-dr.-brian-ardis.html"
        >3 Herbs Curing all 4 Major Parasitic Infections (Cancer) by Dr. Bryan Ardis</a
 > <br> <a   
        class="underline text-white bg-sky-500 font-bold text-justify text-transform: uppercase hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://huldaclark.com/The_Cure_for_All_Cancers_Reprint_2008.pdf"
        >Dr. Hulda Clark book The Cure for All Cancers</a

         > <br> <a   
        class="underline text-white bg-amber-500 font-bold text-justify text-transform: uppercase hover:bg-amber-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/hulda/#herbs"
        >3 Herbs Curing all 4 Major Parasitic Infections (Cancer)</a
      >
       </span>


  <p class="mb-4 text-base text-left font-bold">Australia's $3.8 Billion Cable, the Marinus Link, is a GAME CHANGER</p>

    <span class="my-1">
    <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=PvTmjt2cLhE&t=3s"
        >Australia's $3.8 Billion Cable, the Marinus Link, is a GAME CHANGER</a
 > <br> <a    
        class="underline text-white bg-sky-500 font-bold text-justify text-transform: uppercase hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=J3dYjV1wqV0"
        >Tasmania Documentary 4K | Wildlife | Australia Landscapes and Nature | Original Documentary</a
      >
       </span>





