---

---

<!-- <AboutL /> -->	

	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://my-astro-app-1nk.pages.dev/">Hello, Astronaut!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://peaceful1934.netlify.app/">peaceful1934</a
      >
    </span>

		<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://my-astro-app-1nk.pages.dev/">Hello, Astronaut!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://peaceful1934.netlify.app/">peaceful1934</a
      >
    </span>

		<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://my-astro-app-1nk.pages.dev/">Hello, Astronaut!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://peaceful1934.netlify.app/">peaceful1934</a
      >
    </span>
<ul class="list-inside list-disc" role="list">
  <li class="my-1">
<a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://my-astro-app-1nk.pages.dev/">Hello, Astronaut!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://peaceful1934.netlify.app/">peaceful1934</a
      >
	
	</li>
</ul>

	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://my-astro-app-1nk.pages.dev/">Hello, Astronaut!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=RbzgfBLrscg">Australia's Forgotten Electronics Giant</a
      >
    </span>


<p>Here are my some of my awesome built in features:</p>


<p>Here are my some of my awesome built in features:</p>



