---
import Pagelinks from "./Pagelinks.astro";
---

<!-- <IntelLL /> -->	



<div class="my-1">
 <p id="Sydney-time" class="mb-4 text-base text-left font-bold">Sydney-time</p>
 

     <span class="my-1">
    <a
        class="underline text-white bg-yellow-600 font-bold text-justify text-transform: uppercase hover:bg-orange-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/astronomy/australia/sydney">Sydney-sun-set</a
      > | <a
      
            
        class="underline text-white bg-yellow-600 font-bold text-justify text-transform: uppercase hover:bg-orange-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/sun/australia/sydney">Sydney-sun-month</a
      > | <a

        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/worldclock/australia/sydney">Sydney-time</a
      > | <a
        class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.time.is/">Time</a
        >
    </span>

    
 <p id="1954.date" class="mb-4 text-base text-left font-bold">1954.date</p>


		<span class="my-1"><a
        class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-purple-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1964.bid/">1964.bid</a
     > <br> <a

        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/">1954.date</a
     > <br> <a
        class="underline text-white bg-purple-700 font-bold text-justify text-transform: uppercase hover:bg-purple-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1934.date/">1934.date</a
     > <br> <a
              
        class="underline text-white bg-black font-light text-justify text-transform: uppercase"
        target="_blank"
        rel="noopener noreferrer"
        href="https://sitepins.com/">sitepins.com</a
      >
    </span>

    <Pagelinks />
<p id="Intel_1" class="mb-4 text-base text-left font-bold">Intel:1</p>

     <span class="my-1"><a

        class="underline text-white bg-pink-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@SkyePrinceofficial/">Skye Prince</a
      > <br> <a

        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@Big_Daddy-7Q">BIG DADDY</a
      > <br> <a

        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.rumormillnews.com/">The Rumor Mill</a
        > <br> <a
        class="underline text-white bg-black font-bold text-justify text-transform: uppercase hover:bg-gray-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://2012portal.blogspot.com/">The Portal 2012portal</a
        > <br> <a
        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://operationdisclosureofficial.com/all/">Operation Disclosure</a
        > | <a 
        
        class="underline text-blue-700 bg-black font-bold text-justify hover:text-sky-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://dinarchronicles.com/intel/">Dinar Chronicles</a
        > <br> <a 
                
        class="underline text-white bg-yellow-600 font-bold text-justify text-transform: uppercase hover:bg-orange-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://ripplechronicles.com/">ripple Chronicles</a
        > | <a 
        

        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://voyages-of-light.com/blog/">Voyages of Light</a
        > <br> <a

        class="underline text-white bg-yellow-600 font-bold text-justify text-transform: uppercase hover:bg-orange-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://voyages-of-light.com/2025/11/01/the-biggest-lie-ever-told-judith-kusel/">The Biggest Lie ever Told | Judith Kusel</a    
        > <br> <a

        class="underline text-white bg-cyan-600 font-bold text-justify text-transform: uppercase hover:bg-cyan-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://sunnysjournal.com/">sunnysjournal.com</a    
        > <br> <a


        class="underline text-white bg-pink-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://roserambles.org/">roserambles.org</a    
        > <br> <a
  
        class="underline text-white bg-emerald-700 font-extrabold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/StartTheStorm">StartTheStorm</a
       >
     
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/channels/alexcollierofficial2/home" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-blue-950 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
      >Alex Collier Official 2</span
    >
  </a>
</h5>

     <a
        class="underline text-white bg-sky-400 font-bold text-xl text-transform: uppercase hover:bg-blue-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/96a615e6-47d8-4ae9-ad22-d1ff33fb5eaa"
        >Watch Alex Collier Interview Webinar #25 – With Brad Olsen – Friday, January 23rd, 2026!</a

     >
    
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/channels/jaguar11/home" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
      >The Cosmic Switchboard</span
    >
  </a>
</h5>

     <a
        class="underline text-white bg-sky-400 font-bold text-xl text-transform: uppercase hover:bg-blue-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/7443ec10-59f8-4b49-8286-9555568c1615"
        >Secrets of Antarctica: UFOs, Underground Bases & More – Brad Olsen Interview with James Bartley</a
    > 
       
          <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@InfiniteLtd" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >Infinite Ltd</span
    >
  </a>
</h5> 
        
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/projectcamelot" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-transform: uppercase bg-green-600 font-normal hover:bg-sky-800" 
      >projectcamelot</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@KerryCassidy" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >projectcamelot Kerry Cassidy</span
    >
  </a>
</h5>
         
         <a

        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v2is1oj-project-camelot-kerry-cassidy-chat-with-miles-johnston-banned.html?"
        >Project Camelot Kerry Cassidy Chat with Miles Johnston</a
     > 

          <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=FE4DTnjJ7eY&t=2s" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >WARNING! Alien Disclosure Will Be A Controlled PSYOP From The Government..Kerry Cassidy Explains..David Nino Rodriguez</span
    >
  </a>
</h5> 
      
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=MqMRwGVLjcU" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >STARGATE IRAN - INTERVIEW WITH KERRY CASSIDY</span
    >
  </a>
</h5> 


     <h5
  id="IRAN" class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=nI4goT87aX8" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >Beyond Top Secret: Kerry Cassidy on Disclosure, Power, and Truth. interview by Lisa Schermerhorn</span
    >
  </a>
</h5>
      
      <a


        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://projectcamelotportal.com/2026/02/05/ice-grey-human-hybrids-greenland-epstein-files-3iatlas-with-typical-skeptic-and-kerry-cassidy/"
        >ICE-GREY HUMAN HYBRIDS-GREENLAND-EPSTEIN FILES-3IATLAS WITH TYPICAL SKEPTIC and KERRY CASSIDY</a
     > <br> <a

        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://grok.com/">https://grok.com/</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=LHhy4E9Hhmg"
        >The Prodigy Who Escaped North Korea</a


      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=FMK2XFwnoH8"
        >Antarctica EXPOSED — Lost Civilizations, Secret Bases & New Intel with Brad Olsen Dani Henderson</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=XH-rwsmihtc"
        >ET IS HOME, SCIENCE TECH, MILITARY BASES, DISSECTING ALIEN'S, EMERY SMITH SHARES WITH DANI HENDERSON</a


      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=NAYj6CusRnc"
        >Tony Rodrigues & Brad Olsen chat with Dani Henderson</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=kN13nvakpbE"
        >Secrets Of Antartica S1 E1 Hosted by Brad Olsen 4biddenknowledge</a

     > <br> <a
        class="underline text-white bg-lime-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=Za_R6h89iS8"
        >Australia’s Monopoly Is Hidden in Plain Sight ColdFusion</a

      > <br> <a
        class="underline text-white bg-lime-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=l79XosCjyAI"
        >Australia's Rental Market IS COLLAPSING! Top 5 Cities Where Rent Is Out of Control Australian Hub</a

      > <br> <a
        class="underline text-white bg-lime-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=ancDk2hDKX4"
        >Victoria Is Falling Apart — Premier PANICS as Tens of Thousands Leave Australian Hub</a


      > <br> <a
        class="underline text-white bg-lime-700 font-bold text-xl text-transform: uppercase hover:bg-lime-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=y_OISAc-g0E"
        >I Found $1M+ Mortgages DEFAULTING FASTEST in Australia - The Wealthy Are Collapsing Australia Alert</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/video/RqAvKYXfdQOv/"
        >Pecker Maroo Pty Ltd: Massive Australian Corporate Government Corruption Exposed Scenery On The Road To Tyranny</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=k1HfleyFgDM"
        >Corporations, Pecker Maroo and the Seal</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://dawnkelly.com.au/what-the-australian-government-doesnt-want-you-to-know/"
        >What the Australian Government doesn’t want you to know</a


      > <br> <a
        class="underline text-white bg-gray-600 font-bold text-justify text-transform: uppercase hover:bg-gray-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=hv_iGNf5i5A"
        >THEY DUMPED SILVER: This Is NOT A Real Market Anymore The Hidden Economy </a

      > <br> <a
        class="underline text-white bg-gray-600 font-bold text-justify text-transform: uppercase hover:bg-gray-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=d9NPF0nAnPU"
        >$90 TRAP: JM Bullion "Down" & LBMA Offline While Silver Crashes (Don't Be Fooled)  Jon AG</a

              > <br> <a
        class="underline text-white bg-gray-600 font-bold text-justify text-transform: uppercase hover:bg-gray-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=Gswz2H3yRJw"
        >Silver Just Crashed 36% in One Day – This Has Never Happened Before Mr. AG (Asian Guy)</a

                      > <br> <a
        class="underline text-white bg-lime-700 font-bold text-justify text-transform: uppercase hover:bg-lime-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=selyUwJQZ0g"
        >"NVIDIA BETRAYED OPENAI? 😱 The $100 Billion Deal Just Cancelled (Saturday Emergency Update)" ⭐ CrisisLens</a

        > 
    </span>
   
<Pagelinks />

    <p id="Intel_2" class="mb-4 text-base text-left font-bold">Intel:2</p>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/LauraEisenhower?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Laura Eisenhower</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/TheSovereignSOUL?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >THE SOVEREIGN SOUL Show</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7av1om-laura-eisenhower-d-day-war-on-consciousness-mj-12-and-new-disclosures-to-sa.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Laura Eisenhower: D-Day, WAR on Consciousness, MJ-12 & NEW Disclosures to Save Mankind</span
    >
  </a>
</h5>



     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/DivineMotherEarthTime?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Divine Mother Earth Time</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/pannon/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-700 font-normal hover:bg-sky-800"
      >pAnNON</span
    >
  </a>
</h5>


           <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/DUMBSandUNDERGROUND" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
      >DUMBS and UNDERGROUND ⚔ The Invisible War ⚔</span
    >
  </a>
</h5> 


           <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/ReptoTV" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
      >REPTOS, SHAPESHIFTERS, VRIL, GRAYS - ALIEN DOMINION - Secret Space</span
    >
  </a>
</h5> 


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/TypicalSkepticPodcast?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Typical Skeptic Podcast</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7aocos-quantum-frequencies-ufos-and-disclosure-brett-lueder-and-karen-macdonald-ts.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Agents of Ascension - Bret Lueder & Karen Macdonald -TSP #2640</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/AustraliaOneParty?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >AustraliaOne Party</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/australiaone" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-sky-800"
      >AustraliaOne Party</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/JMCBroadcasting" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >JMC Broadcasting</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/JohnMichaelChambers40kFV?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >John Michael Chambers JMC Broadcasting</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@JMCBroadcasting" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-red-800"
      >JMC Broadcasting</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7a5mio-global-financial-reset-live-may-20th-2026.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Global Financial Reset LIVE - May 20th 2026 JMC Broadcasting</span
    >
  </a>
</h5>
   
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/PatriotStreetfighter?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >PatriotStreetfighter</span
    >
  </a>
</h5>

   
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/PatriotStreetfighter?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Scott Mckay</span
    >
  </a>
</h5>
  
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/Vm23K8CQOGQR/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >PatriotStreetfighter</span
    >
  </a>
</h5>
 

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/CaptKylePatriots" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >CaptKylePatriots</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/RattleTrap1776?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >RattleTrap1776</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/RattleTrap1776?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Derek Johnson</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@TypicalSkepticPodcast_2.0" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >Typical Skeptic Podcast 2 - We Go Deep, You Decide</span
    >
  </a>
</h5>



     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=zOaJK-zpxY8" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >Enki, The Anunnaki, 3I Atlas & The Close of the Human Experiment | Kerry Cassidy | TSP #2656</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=BMM2tIN5mbc" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >Dumbs, UFO's, Disclosure, War, Psyops, Hidden Agendas - Gene Decode - Typical Skeptic # 2598</span
    >
  </a>
</h5>

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/TypicalSkepticPodcast?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Typical Skeptic Podcast Typical Skeptic Podcast</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/Redacted?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Redacted News</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@RedactedNews" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >Redacted News</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/QspecialForces?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >QspecialForces</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/c-7814732?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >New Q Post</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/SierraDelta?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >SierraDelta</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/Mary?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >We The People NEWS</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@NinosCorner" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >David Nino Rodriguez</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@THEREALISMAELPEREZ/streams" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >THE REAL ISMAEL PEREZ</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@xrpqfs1776" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >XRPQFSTeam2</span
    >
  </a>
</h5>



     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=G_UeK9OBfU8" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >NEW Trailer” “DEAR MR. PRESIDENT, The Most Dangerous Movie Ever Made Exposing an Epic Scam. XRPQFSTeam2</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=G_UeK9OBfU8" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >NEW Trailer” “DEAR MR. PRESIDENT, The Most Dangerous Movie Ever Made Exposing an Epic Scam. XRPQFSTeam2</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/user/MichaelJaco" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-purple-700 font-bold text-justify hover:bg-purple-900"
      >Michael Jaco</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=3gFeZ0SmLj8" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >Big political wins for the GOP destroying RINO's across America. Why are people still fooled?</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=W7Yk7k84r0g" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >Ismael Perez author of Our Cosmic Origen and The Secret Government shares cosmic wisdom on Galactics Michael Jaco</span
    >
  </a>
</h5>

     <h5
  id="pAnNON" class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/pannon/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-700 font-normal hover:bg-sky-800"
      >pAnNON</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/StartTheStorm" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >StartTheStorm</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/kV2d3UMtWI2h" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-transform: uppercase bg-red-700 font-normal hover:bg-sky-800"
      >TheTruthNeverStops</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@SNXRadio/videos" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-sky-800"
      >ColeyUFO</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@SachaStone/videos" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >The Official Sacha Stone channel</span
    >
  </a>
</h5>


    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=YgbmAxYjoZY" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >Every Aussie MUST WATCH: Pauline Hanson Drops the Brutal Truth on Snowy 2.0 Oceania Unfiltered</span
    >
  </a>
</h5>

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=qAPaSZR4iFs" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >Pauline Hanson's Budget REPLY: "A fundamentally different direction"</span
    >
  </a>
</h5>

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@ChrisYoon" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >Chris Yoon</span
    >
  </a>
</h5>

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=Otw6aWRP5SE" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >Trump quietly announced ISIS #2 leader was killed but that’s not the real story</span
    >
  </a>
</h5>

 <p id="Swerdlow" class="mb-4 text-base text-left font-bold">Stewart Swerdlow www.expansions.com</p>
    
    	<div class="my-1">

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=m3XEosEwAuY" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Insider Bombshell..2026 The Year Everything Gets EXPOSED..Aliens, Arrests & Natural Disasters(45:00)</span
    >
  </a>
</h5>


    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=SCYT8vb2siQ" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Disclosure Day | Official Trailer</span
    >
  </a>
</h5>


    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=j4vLWVdoHSY" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Spielberg's Disclosure Day Is Closer To Truth Than Fiction</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.expansions.com/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-yellow-500 font-normal hover:bg-sky-800"
      >www.expansions.com</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/hkpNgm7MTMxw/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-500 font-normal hover:bg-sky-800"
      >Expansions Stewart Swerdlow bitchute</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/c-713813" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Expansions Publishing Company</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7al6g4-when-youre-only-lonely.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >When You’re Only Lonely Expansions Publishing Company</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://1964.bid/blog/post-00011/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-yellow-500 font-normal hover:bg-sky-800"
      >post-00011</span
    >
  </a>
</h5>
      </div>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@PolarityJosh" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >Polarity@PolarityJosh</span
    >
  </a>
</h5>



     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=U4t_tHG94e0&t=2s" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >Mapping Out NASA's Strange Connection To Time Travel, Nazis & The Occult</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@NuggetsNews" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >Nugget's News</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=GwkFV__vs04" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-normal hover:bg-sky-800"
      >The Most Powerful Episode We've Ever Done - Anneke Lucas</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/bluewater/" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-transform: uppercase bg-red-700 font-normal hover:bg-sky-800"
      >bluewater</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/KBziqs7AlFFF/" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-transform: uppercase bg-red-700 font-normal hover:bg-sky-800"
      >PIXIE LOVE</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://vkvideo.ru/@med_beds" rel="noopener" target="_blank"
    ><span
      class="underline text-sky-300 bg-red-700 font-normal hover:text-sky-800 hover:bg-gray-100"
      >Med Beds. Мед. кровати и квантовое исцеление.</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7948wq-laura-eisenhower-michael-jaco-and-derek-johnson-q-update-drop-dollar-collap.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Laura Eisenhower, Michael Jaco & Derek Johnson: Q UPDATE DROP?! Dollar Collapse Talk 🚨</span
    >
  </a>
</h5>

   
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v79nphq-mr.-scott-mckay-prophetic-word-updates..html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Mr. Scott Mckay PROPHETIC WORD Updates.</span
    >
  </a>
</h5>

   
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v79o6ta-highlights-from-dr.-judy-mikovits-gene-decode-nino-and-the-ghost-scott-mcka.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Highlights from: Dr. Judy Mikovits, Gene Decode, Nino & the Ghost, Scott McKay & Gen. Vallely</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v79ksds-the-unnecessary-death-of-david-wilcock-with-mike-bara-and-laura-eisenhower.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >The Unnecessary Death of David Wilcock with Mike Bara and Laura Eisenhower</span
    >
  </a>
</h5>

<Pagelinks />

<p id="Casbolt" class="mb-4 text-base text-left font-bold">THERE IS A FAKE ALIEN INVASION PSYOP TO HIDE A REAL ALIEN WAR - 2011 Michael Prince / James Casbolt</p>
  
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/channels/truthwchrist/home" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-sky-800"
      >Truth that Matters</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/50484c91-7c15-4f05-aac8-4ab666c83881" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-sky-800"
      >SSP: James Casbolt on The Edge 2026 // Aliens Underground</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/ea22fd14-4d93-4a16-a4c1-7ff502570540" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-sky-800"
      >BASES2014-Bases at the Barge James Casbolt</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/8a434a1a-21a9-496c-8312-c2deddae8c7e" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-sky-800"
      >Bases 37 Max Spiers Rebuttal to James Casbolt - summer 2014</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://1954.date/event/#realalienwar" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-bold hover:bg-sky-800"
      >THERE IS A FAKE ALIEN INVASION PSYOP TO HIDE A REAL ALIEN WAR - 2011 Michael Prince / James Casbolt</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://1954.date/dulce/#invasion" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-bold hover:bg-sky-800"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://1954.date/flat-earth/#problems" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-bold hover:bg-sky-800"
      >Antarctica causes so many problems for Flat Earth</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@ForEverFree:3/THERE-IS-A-FAKE-ALIEN-INVASION-PSYOP-TO-HIDE-A-REAL-ALIEN-WAR---2011-Michael-Prince---James-Casbolt:f" rel="noopener" target="_blank"
    ><span
      class="underline text-yellow-200 bg-pink-700 font-bold hover:bg-sky-800"
      >THERE IS A FAKE ALIEN INVASION PSYOP TO HIDE A REAL ALIEN WAR - 2011 Michael Prince / James Casbolt</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@ForEverFree:3" rel="noopener" target="_blank"
    ><span
      class="underline text-yellow-200 bg-pink-700 font-bold hover:bg-sky-800"
      >For Ever Free</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/sPLw4CMfMUAO" rel="noopener" target="_blank"
    ><span
      class="underline text-red-600 bg-gray-800 font-bold hover:bg-sky-800"
      >Wyrmspleen</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.bitchute.com/channel/sPLw4CMfMUAO" rel="noopener" target="_blank"
    ><span
      class="underline text-yellow-200 bg-pink-700 font-bold hover:bg-sky-800"
      >Wyrmspleen</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@ForEverFree:3/Phil-Schneider-%E2%80%93-The-Alien-Agenda,-The-Grenada-Treaty---The-End-Game:6" rel="noopener" target="_blank"
    ><span
      class="underline text-yellow-200 bg-pink-700 font-bold hover:bg-sky-800"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=L-uTj1dsTGU" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-amber-600 font-normal hover:bg-sky-800"
      >TIP Movie Night Presents: James Casbolt (Michael Prince) Former Black Ops MI6 Agent Testimony | 2012</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=98mJClJpi2E" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-amber-600 font-normal hover:bg-sky-800"
      >Michael Prince - Human Cybernization at Q552 Nelson Base</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=98mJClJpi2E" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-amber-600 font-normal hover:bg-sky-800"
      >Michael Prince - Human Cybernization at Q552 Nelson Base</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://alienresistance.group/cia-uap-disclosure-alien-psyop/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-amber-600 font-normal hover:bg-sky-800"
      >The CIA’s UAP Disclosure: An Alien Psyop</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/projectcamelot" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-transform: uppercase bg-green-600 font-normal hover:bg-sky-800" 
      >projectcamelot</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@KerryCassidy" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >projectcamelot Kerry Cassidy</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7a1x8u-kerry-cassidy-huge-warning-5.18.26-there-is-no-way-to-stop-it.html" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-transform: uppercase bg-green-600 font-normal hover:bg-sky-800" 
      >Kerry Cassidy HUGE WARNING 5.18.26 - There Is No Way To Stop It (34:00)</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7a1xg6-kerry-cassidy-huge-warning-5.18.26-there-is-no-way-to-stop-it.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-transform: uppercase bg-green-600 font-normal hover:bg-sky-800" 
      >Kerry Cassidy HUGE WARNING 5.18.26 - There Is No Way To Stop It (34:00)Start The Storm</span
    >
  </a>
</h5>

     <h5
  id="IRAN" class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=nI4goT87aX8" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >Beyond Top Secret: Kerry Cassidy on Disclosure, Power, and Truth. interview by Lisa Schermerhorn</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=MqMRwGVLjcU" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >STARGATE IRAN - INTERVIEW WITH KERRY CASSIDY</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=7b6ZcKFmw_w" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >Is Iran the Center of a Secret Stargate War? The Race Towards Disclosure</span
    >
  </a>
</h5>
        
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=A-lu9XIj4pY" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >Brad Wright Explains Stargate Mythology in Four Minutes! | Stargate Universe </span
    >
  </a>
</h5>
         
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=x3h7xz558EY" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >STARGATE (1994) | Activating The Portal | MGM</span
    >
  </a>
</h5>     

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/camelotQKerry/status/2052883265074450776?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >UFO DISCLOSURE WHY NOW?  THE ALIENS  AND GENERALS INSISTED... WAR WITH ALIENS</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://projectcamelotportal.com/2019/09/04/randy-cramer-revisiting-the-fake-alien-invasion-scenario-aka-project-blue-beam/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-yellow-600 font-normal hover:bg-yellow-800"
      >RANDY CRAMER: REVISITING THE FAKE ALIEN INVASION SCENARIO AKA PROJECT BLUE BEAM</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/camelotQKerry/status/2052802765840347610" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >WAR WITH ALIENS They moved up the date from July to May because we are at war with aliens and they have to convince people that aliens are real first!  This is project blue beam that Randy Cramer talked about. We are at war with aliens in Iran and other places around the globe. And have been for decades. They are just now deciding to tell you about it. Blue beam is a combination real/fake war with aliens.</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://projectcamelotportal.com/2026/05/10/randy-cramer-revisiting-the-fake-alien-invasion-scenario-aka-project-blue-beam-2-2-2/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-yellow-600 font-normal hover:bg-yellow-800"
      >RANDY CRAMER: REVISITING THE FAKE/REAL ALIEN INVASION SCENARIO AKA PROJECT BLUE BEAM</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/Mary?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >We The People NEWS</span
    >
  </a>
</h5>



<Pagelinks />
     <p id="GeneDecode" class="mb-4 text-base text-left font-bold">GeneDecode JP Michael Salla</p>
      
<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://GeneDecode.org">GeneDecode.org</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/RealGeneDecode?">RealGeneDecode</a
      > | <a

      
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/GeneDecodeCo?">Gene© Decode</a
      > <br> <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@RealGeneDecodetv">@RealGeneDecodetv</a
      > <br> <a
     

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v74d7li-gene-decode-its-all-staged-1.15.26-it-had-to-be-this-way.html?"
        >Gene Decode: It's All Staged 1.15.26 - It Had To Be This Way! Start The Storm</a
      > <br> <a


        class="underline text-white bg-red-700 font-bold text-justify hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/live/XWSCBaQK5zE"
        >Gene Decode Deep Dive Presentation on DUMBS and the Golden Dome</a
      > 

                 <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=64zzrEci-7E" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-bold text-justify hover:bg-red-900"
      >Is The Galactic Federation Infiltrated? - Gene Decode Explains Rogue Elements + Travel to Ganymede Dani Henderson - GSIC Conference</span
    >
  </a>
</h5> 

           <h5
   id="DUMBS" class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/DUMBSandUNDERGROUND" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
      >DUMBS and UNDERGROUND ⚔ The Invisible War ⚔</span
    >
  </a>
</h5> 


           <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/ReptoTV" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
      >REPTOS, SHAPESHIFTERS, VRIL, GRAYS - ALIEN DOMINION - Secret Space</span
    >
  </a>
</h5> 

     
           <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/bb0d7f53-9c79-4d22-acab-a1c395d6a6a3?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
      >DUMBs are REAL - Restricted Military Areas</span
    >
  </a>
</h5>

     
           <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/channels/gonedark/home" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
      >GoneDark</span
    >
  </a>
</h5>

      <a


        class="underline text-white bg-red-700 font-bold text-justify hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/video/qw4G1oNOBA5T/"
        >GENE DECODE CRITICAL UPDATE -The GOLDEN DOME Is FAR Bigger Than They Told You 5-10-2026</a
      > 
      
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=BMM2tIN5mbc" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >Dumbs, UFO's, Disclosure, War, Psyops, Hidden Agendas - Gene Decode - Typical Skeptic # 2598</span
    >
  </a>
</h5> 
      

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/SierraDelta?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >SierraDelta</span
    >
  </a>
</h5>
      
      <a

                        
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v74cri2-the-royal-house-of-we-the-people-gene-decode-11426.html?"
        >The Royal House of WE THE PEOPLE | GENE DECODE 1/14/26 SierraDelta</a
      > <br> <a

        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@MichaelSalla/videos">Michael Salla</a

      >
            
           <h5
   id="JourneyToTruth" class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/c-372815" rel="noopener" target="_blank"
    ><span
      class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
      >Journey to Truth</span
    >
  </a>
</h5>  
       
      <a

        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@journeytotruthpodcast">Journey to Truth Podcast</a

      > <br> <a

        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@JourneytoTruth111">Journey to Truth Podcast 2.0</a
      
      > <br> <a
        class="underline text-white bg-purple-600 font-bold text-justify hover:bg-purple-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=5-mmWB7SUmg"
        >EP 392 | Ex Marine: Michael Selig | Alien Manipulation & Deep State Deceit | Exposing a Covert Evil</a
     
      > <br> <a
        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-purple-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v70n19o-ep-392-ex-marine-michael-selig-alien-manipulation-and-deep-state-deceit-exp.html"
        >EP 392 | Ex Marine: Michael Selig | Alien Manipulation & Deep State Deceit | Exposing a Covert Evil</a
     

      >
      
      
           <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v79pc5e-journey-to-truth-podcast-presents-navwar-navy-and-secret-programs.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
      >JOURNEY TO TRUTH PODCAST presents NAVWAR NAVY & Secret Programs and THE UNDERGROUND</span
    >
  </a>
</h5> 

     
           <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/channels/nissehult/home?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
      >Need To See News!</span
    >
  </a>
</h5>

      <a
        class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@JPjpJP1">J P @JPjpJP1</a
      > <br> <a

        class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=iEa_fOVAfTE">Army Insider Reveals Space Arks, Time Travel, Inner Earth Ant People! | JP Missions</a
      >
      

                 <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@cosmictelevisionnetwork" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-bold text-justify hover:bg-red-900"
      >Cosmic Television Network @cosmictelevisionnetwork</span
    >
  </a>
</h5> 


                 <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=wYIlCFT3bvs" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-700 font-bold text-justify hover:bg-red-900"
      >Extraterrestrial Connections: Diverse Beings of the Cosmos - event 11/30/25 Cosmic Television Network</span
    >
  </a>
</h5> 

      <a
        class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/live/B0xyO8u5MYM">Spotlight: Heading into New Territory Farsight</a
      > <br> <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/supersoldiertalk">SupersoldierTalk</a
      > <br> <a

        class="underline text-white bg-pink-700 font-bold text-justify hover:bg-purple-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@ManInAmerica">Man In America</a
      > | <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/TheBasesProject?">TheBasesProject</a
      > | <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/OzEye">OzEye</a
      > <br> 
      <Pagelinks />


     <h5
  id="AustraliaOne" class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/AustraliaOneParty?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >AustraliaOne Party</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/australiaone" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-orange-800"
      >AustraliaOne Party</span
    >
  </a>
</h5>

      <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v73cuqg-australiaone-party-jmc-global-shift-from-cabal-to-white-hat-22-december-202.html?"
        >AustraliaOne Party - JMC: Global Shift from Cabal to White Hat (22 December 2025)</a
      > <br> <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/JohnMichaelChambers40kFV?">John Michael Chambers</a
      >
      
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/JMCBroadcasting" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >JMC Broadcasting</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/JohnMichaelChambers40kFV?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >John Michael Chambers JMC Broadcasting</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@JMCBroadcasting" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-red-800"
      >JMC Broadcasting</span
    >
  </a>
</h5>

       
       <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/CaptKylePatriots">CaptKylePatriots</a
       > <br> <a



        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/BaggyPants">BaggyPants</a
       > <br> <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/SarahWestall?">Sarah Westall</a
      > | <a


        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/AliceDowntheRabbitHole?">Alice Down the Rabbit Hole</a
       > <br> <a

        id="MichaelJaco" class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/user/MichaelJaco">Michael Jaco</a

      > <br> <a
        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v74wjbq-according-to-many-funeral-homes-as-many-as-100-million-in-us-have-dangerous.html?"
        >According to many funeral homes as many as 100 million in US have dangerous white fibrous clots?</a

      > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@THEREALISMAELPEREZ">THE REAL ISMAEL PEREZ</a
      > | <a

            > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=54zudEPxBrE">Alliance update!</a
       > <br> <a

                 
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=CNA1manvnNI">URGENT REPORT: The Alliance is preparing the world religions for disclosure.</a
 > <br> <a
      
        class="underline text-white bg-emerald-700 font-extrabold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/StartTheStorm">StartTheStorm</a
       >
       

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/pannon/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-700 font-normal hover:bg-sky-800"
      >pAnNON</span
    >
  </a>
</h5>
      
      <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/channel/kV2d3UMtWI2h">the Q-King</a

       > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@NinosCornerm/watch?v=54zudEPxBrE">David Nino Rodriguez</a


       > <br> <a
        class="underline text-white bg-orange-600 font-bold text-justify uppercase hover:bg-orange-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=MqMRwGVLjcU">STARGATE IRAN - INTERVIEW WITH KERRY CASSIDY</a
        
          > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=eX8O-QknPmY">THE IRAN STARGATE HAS BEEN ACTIVATED - THE WAR FOR EARTH HAS BEGUN with Christopher Macklin</a

          > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=tvOnnzvK2ag">Iran, China Proxy Wars, Stargates - Kerry Cassidy of Project Camelot - Typical Skeptic # 2503</a

        ><br> <a
      class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
      target="_blank"
      rel="noopener noreferrer"
      href="https://rumble.com/c/c-6307217">Real News Live with Mike & Jen!</a
>
      </span>
      
      <p id="Vobes" class="mb-4 text-base text-left font-bold">Richard Vobes</p>

      <span class="my-1"></span>
      <a 
        class="underline text-white bg-red-800 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@RichardVobes">Richard Vobes</a
      
        > | <a
        class="underline text-white bg-red-800 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=rcad_g-wpms&t=1s">It may be a rough ride, but rejoice!</a
      > | <a
              class="underline text-white bg-red-800 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=5weLrd78y-A">Nothing can stop what is coming!</a
      
        > | <a
        class="underline text-white bg-red-800 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=JcfBFfRpcCs">What the "Q" is Going On? Live with Charles Foxtrot & Mark Attwood & Alexander Quinn!</a
      
    >


      
    </span>

 
    
<Pagelinks />
     <p id="Intel_3" class="mb-4 text-base text-left font-bold">Intel:3</p>

     <span class="my-1">
    <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@Big_Daddy-7Q">BIG DADDY</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
              target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/@Big_Daddy_Alex_">Alexander West @Big_Daddy_Alex_</a
      > | <a

        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/BIGDADDY17west">BIG DADDY @BIGDADDY17west</a
      > | <a

        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
              target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/PaulGoldEagle">Paul White Gold Eagle</a
      >
    </span>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=hcFbfrbEVoQ&t=2s" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-normal font-sans hover:bg-sky-800"
      >Military’s says all humanity will know whats going on, weither they accept it or not BIG DADDY</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=oQRVTt1aVao&t=1s" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-normal hover:bg-sky-800"
      >MUST WATCH: We patriots Preparing ourselves for a thousand technologies coming.BIG DADDY </span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=IncWGbJzuX8&t=1s" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-normal font-sans hover:bg-sky-800"
      >Venezuela liberated !! whos next !! the 3 amigos are about to carve out their territories world wide BIG DADDY </span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/BIGDADDY17west/status/2010874338371657933" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-normal font-sans hover:bg-sky-800"
      >THE CORRUPT BANKSTERS HAVE SOLD EXTREMES AMOUNT OF SILVER THEY DONT HAVE ? DEADMEN WALKING</span
    >
  </a>
</h5>

    <Pagelinks />
       <p id="Intel_4" class="mb-4 text-base text-left font-bold">Intel:4</p>

    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/ECETISTARGATEOFFICIAL?">ECETI STARGATE</a
      > | <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/corbettreport?">The Official Corbett Report</a
      >
    </span>
    

<Pagelinks />
      <p id="DUMBS" class="mb-4 text-base text-left font-bold">DUMBS and UNDERGROUND</p>
   

    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/DUMBSandUNDERGROUND">DUMBS and UNDERGROUND ⚔ The Invisible War ⚔</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/ReptoTV">REPTOS, SHAPESHIFTERS, VRIL, GRAYS - ALIEN DOMINION - Secret Space</a
      >
    </span>



<Pagelinks />
    <p id="SPOT" class="mb-4 text-base text-left font-bold">SPOT PRICE PER TROY OUNCE</p>
    

	<span class="my-1"><a
        class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-300"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.abcbullion.com.au/products-pricing/silver">SPOT PRICE PER TROY OUNCE</a
      > | <a
        class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-300"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.abcbullion.com.au/store/silver/">silver</a

      > | <a
        class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-300"
        target="_blank"
        rel="noopener noreferrer"
        href="https://ainsliebullion.com.au/">Ainslie Bullion</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-white bg-gray-700 font-bold text-justify hover:bg-gray-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.gsmarena.com/google_pixel_7_pro-11908.php">GSMarena</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.starkey.com/compatibility">starkey phone compatibility</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.samsung.com/latin_en/support/mobile-devices/how-to-use-hearing-aids-with-samsung-galaxy-devices/">hearing aids with Samsung Galaxy</a  
    > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://support.google.com/pixelphone/answer/9393002?hl=en">Hearing aid compatibility for Pixel phones</a
      >
    </span>
    
<Pagelinks />
 <p id="Arae" class="mb-4 text-base text-left font-bold">Jay Arae Essex</p>
    
  

    	<span class="my-1"><a
        class="underline text-white bg-orange-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/channel/UClYvbl2TDiErM0KLrO6KtRA/videos">Jay Arae Essex</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@valceusawakening/featured">walker “Spirit Reader” valceus</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@British_Tim">British Tim</a
      > | <a
        class="underline text-white bg-orange-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.thespiritualfoundation.com/">spiritual foundation</a
      >
    </span>
    </div>