---

---

<!-- <IntelLL /> -->	

<p class="mb-4 text-base text-left font-bold">Sydney-time</p>

     <span class="my-1">
    <a
        class="underline text-white bg-yellow-600 font-bold text-justify text-transform: uppercase hover:bg-orange-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/astronomy/australia/sydney">Sydney-sun-set</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/worldclock/australia/sydney">Sydney-time</a
      > | <a
        class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.time.is/">Time</a
        >
    </span>

<p class="mb-4 text-base text-left font-bold">1954.date</p>

		<span class="my-1"><a
        class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-purple-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/">1954.date</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1934.date/">1934.date</a
     > <br> <a
              
        class="underline text-white bg-black font-light text-justify text-transform: uppercase"
        target="_blank"
        rel="noopener noreferrer"
        href="https://astroplate.peter-244.workers.dev/">astroplate</a
      > | <a
        class="underline text-white bg-black font-light text-justify text-transform: uppercase"
        target="_blank"
        rel="noopener noreferrer"
        href="https://sitepins.com/">sitepins.com</a

      > <br> <a
        class="underline text-white bg-black font-light text-justify text-transform: uppercase"
        target="_blank"
        rel="noopener noreferrer"
        href="https://solidjs.peter-244.workers.dev/">Astro Sphere-solidjs</a
      >
    </span>

<p class="mb-4 text-base text-left font-bold">Intel:1</p>

     <span class="my-1"><a

        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@SkyePrinceofficial/">Skye Prince</a
      > <br> <a

        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@Big_Daddy-7Q">BIG DADDY</a
      > <br> <a

        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.rumormillnews.com/">The Rumor Mill</a
        > <br> <a
        class="underline text-white bg-black font-bold text-justify text-transform: uppercase hover:bg-gray-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://2012portal.blogspot.com/">The Portal 2012portal</a
        > <br> <a
        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://operationdisclosureofficial.com/all/">Operation Disclosure</a
        > | <a 
        
        class="underline text-blue-700 bg-black font-bold text-justify hover:text-sky-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://dinarchronicles.com/intel/">Dinar Chronicles</a
        > <br> <a 
                
        class="underline text-white bg-yellow-600 font-bold text-justify text-transform: uppercase hover:bg-orange-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://ripplechronicles.com/">ripple Chronicles</a
        > | <a 
        

        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://voyages-of-light.com/blog/">Voyages of Light</a
        > <br> <a

        class="underline text-white bg-yellow-600 font-bold text-justify text-transform: uppercase hover:bg-orange-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://voyages-of-light.com/2025/11/01/the-biggest-lie-ever-told-judith-kusel/">The Biggest Lie ever Told | Judith Kusel</a    
        > <br> <a

        class="underline text-white bg-cyan-600 font-bold text-justify text-transform: uppercase hover:bg-cyan-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://sunnysjournal.com/">sunnysjournal.com</a    
        > <br> <a


        class="underline text-white bg-pink-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://roserambles.org/">roserambles.org</a    
        > <br> <a
  
        class="underline text-white bg-emerald-700 font-extrabold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/StartTheStorm">StartTheStorm</a
       > <br> <a   

        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/channels/alexcollierofficial2/home">Alex Collier Official 2</a

     > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/96a615e6-47d8-4ae9-ad22-d1ff33fb5eaa"
        >Watch Alex Collier Interview Webinar #25 – With Brad Olsen – Friday, January 23rd, 2026!</a

     > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/channels/jaguar11/home">The Cosmic Switchboard</a

     > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/7443ec10-59f8-4b49-8286-9555568c1615"
        >Secrets of Antarctica: UFOs, Underground Bases & More – Brad Olsen Interview with James Bartley</a
        
      > <br> <a
        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
         href="https://rumble.com/user/projectcamelot">projectcamelot</a
        > | <a

        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v2is1oj-project-camelot-kerry-cassidy-chat-with-miles-johnston-banned.html?">Project Camelot Kerry Cassidy Chat with Miles Johnston</a
     
                > | <a

        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://grok.com/">https://grok.com/</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=LHhy4E9Hhmg"
        >The Prodigy Who Escaped North Korea</a


      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=FMK2XFwnoH8"
        >Antarctica EXPOSED — Lost Civilizations, Secret Bases & New Intel with Brad Olsen Dani Henderson</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=XH-rwsmihtc"
        >ET IS HOME, SCIENCE TECH, MILITARY BASES, DISSECTING ALIEN'S, EMERY SMITH SHARES WITH DANI HENDERSON</a


      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=NAYj6CusRnc"
        >Tony Rodrigues & Brad Olsen chat with Dani Henderson</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=kN13nvakpbE"
        >Secrets Of Antartica S1 E1 Hosted by Brad Olsen 4biddenknowledge</a

     > <br> <a
        class="underline text-white bg-lime-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=Za_R6h89iS8"
        >Australia’s Monopoly Is Hidden in Plain Sight ColdFusion</a

      > <br> <a
        class="underline text-white bg-lime-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=l79XosCjyAI"
        >Australia's Rental Market IS COLLAPSING! Top 5 Cities Where Rent Is Out of Control Australian Hub</a

      > <br> <a
        class="underline text-white bg-lime-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=ancDk2hDKX4"
        >Victoria Is Falling Apart — Premier PANICS as Tens of Thousands Leave Australian Hub</a


      > <br> <a
        class="underline text-white bg-lime-700 font-bold text-justify text-transform: uppercase hover:bg-lime-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=y_OISAc-g0E"
        >I Found $1M+ Mortgages DEFAULTING FASTEST in Australia - The Wealthy Are Collapsing Australia Alert</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/video/RqAvKYXfdQOv/"
        >Pecker Maroo Pty Ltd: Massive Australian Corporate Government Corruption Exposed Scenery On The Road To Tyranny</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=k1HfleyFgDM"
        >Corporations, Pecker Maroo and the Seal</a

      > <br> <a
        class="underline text-white bg-sky-600 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://dawnkelly.com.au/what-the-australian-government-doesnt-want-you-to-know/"
        >What the Australian Government doesn’t want you to know</a


      > <br> <a
        class="underline text-white bg-gray-600 font-bold text-justify text-transform: uppercase hover:bg-gray-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=hv_iGNf5i5A"
        >THEY DUMPED SILVER: This Is NOT A Real Market Anymore The Hidden Economy </a

      > <br> <a
        class="underline text-white bg-gray-600 font-bold text-justify text-transform: uppercase hover:bg-gray-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=d9NPF0nAnPU"
        >$90 TRAP: JM Bullion "Down" & LBMA Offline While Silver Crashes (Don't Be Fooled)  Jon AG</a

      > <br> <a
        class="underline text-white bg-gray-600 font-bold text-justify text-transform: uppercase hover:bg-gray-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=Gswz2H3yRJw"
        >Silver Just Crashed 36% in One Day – This Has Never Happened Before Mr. AG (Asian Guy)</a

        > 
    </span>
   


    <p class="mb-4 text-base text-left font-bold">Intel:2</p>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/LauraEisenhower?" rel="noopener" target="_blank"
    ><span
      class="text-white bg-green-600 font-normal hover:bg-sky-800"
      >Laura Eisenhower</span
    >
  </a>
</h5>

    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://GeneDecode.org">GeneDecode.org</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/RealGeneDecode?">RealGeneDecode</a
      > | <a

      
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/GeneDecodeCo?">Gene© Decode</a
      > <br> <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@RealGeneDecodetv">@RealGeneDecodetv</a
      > <br> <a
    
      
        class="underline text-white bg-emerald-700 font-extrabold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/StartTheStorm">StartTheStorm</a
       > <br> <a    

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v74d7li-gene-decode-its-all-staged-1.15.26-it-had-to-be-this-way.html?"
        >Gene Decode: It's All Staged 1.15.26 - It Had To Be This Way! Start The Storm</a
      > <br> <a

                  
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/SierraDelta?"
        >SierraDelta</a
      > <br> <a

                        
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v74cri2-the-royal-house-of-we-the-people-gene-decode-11426.html?"
        >The Royal House of WE THE PEOPLE | GENE DECODE 1/14/26 SierraDelta</a
      > <br> <a

        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@MichaelSalla/videos">Michael Salla</a

      > <br> <a

        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/c-372815">Journey to Truth</a
      > | <a

        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@journeytotruthpodcast">Journey to Truth Podcast</a

      > <br> <a

        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@JourneytoTruth111">Journey to Truth Podcast 2.0</a
      
      > <br> <a
        class="underline text-white bg-purple-600 font-bold text-justify hover:bg-purple-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=5-mmWB7SUmg"
        >EP 392 | Ex Marine: Michael Selig | Alien Manipulation & Deep State Deceit | Exposing a Covert Evil</a
     
      > <br> <a
        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-purple-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v70n19o-ep-392-ex-marine-michael-selig-alien-manipulation-and-deep-state-deceit-exp.html"
        >EP 392 | Ex Marine: Michael Selig | Alien Manipulation & Deep State Deceit | Exposing a Covert Evil</a
     

      > <br> <a
        class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@JPjpJP1">J P @JPjpJP1</a
      > <br> <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/supersoldiertalk">SupersoldierTalk</a
      > <br> <a

        class="underline text-white bg-pink-700 font-bold text-justify hover:bg-purple-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@ManInAmerica">Man In America</a
      > | <a



        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/TheBasesProject?">TheBasesProject</a
      > | <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/OzEye">OzEye</a
      > <br> <a

        class="underline text-white bg-lime-500 text-lg font-bold text-justify hover:bg-lime-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/AustraliaOneParty?">AustraliaOne Party</a
      > <br> <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v73cuqg-australiaone-party-jmc-global-shift-from-cabal-to-white-hat-22-december-202.html?"
        >AustraliaOne Party - JMC: Global Shift from Cabal to White Hat (22 December 2025)</a
      > <br> <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/JohnMichaelChambers40kFV?">JMC Broadcasting</a
      > | <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/CaptKylePatriots">CaptKylePatriots</a
       > <br> <a


        class="underline text-white bg-emerald-700 font-extrabold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/StartTheStorm">StartTheStorm</a
       > <br> <a


        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/BaggyPants">BaggyPants</a
       > <br> <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/SarahWestall?">Sarah Westall</a
      > | <a


        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/AliceDowntheRabbitHole?">Alice Down the Rabbit Hole</a
       > <br> <a

        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/user/MichaelJaco">Michael Jaco</a

      > <br> <a
        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v74wjbq-according-to-many-funeral-homes-as-many-as-100-million-in-us-have-dangerous.html?"
        >According to many funeral homes as many as 100 million in US have dangerous white fibrous clots?</a

      > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=54zudEPxBrE">THE REAL ISMAEL PEREZ</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/pannon/">pAnNON</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/kV2d3UMtWI2h">the Q-King</a
       > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@NinosCorner">David Nino Rodriguez</a

      > <br> <a


        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/c-6307217">Real News Live with Mike & Jen!</a
    

       > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@xrpqfs1776">XRPQFSTeam2</a

      > <br> <a 
        class="underline text-white bg-red-800 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@RichardVobes">Richard Vobes</a
      
        > | <a
        class="underline text-white bg-red-800 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=rcad_g-wpms&t=1s">It may be a rough ride, but rejoice!</a
      >
    </span>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=m3XEosEwAuY" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Insider Bombshell..2026 The Year Everything Gets EXPOSED..Aliens, Arrests & Natural Disasters(45:00)</span
    >
  </a>
</h5>
    

    <p class="mb-4 text-base text-left font-bold">Intel:3</p>

     <span class="my-1">
    <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@Big_Daddy-7Q">BIG DADDY</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
              target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/@Big_Daddy_Alex_">Alexander West @Big_Daddy_Alex_</a
      > | <a

        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/BIGDADDY17west">BIG DADDY @BIGDADDY17west</a
      > | <a

        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
              target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/PaulGoldEagle">Paul White Gold Eagle</a
      >
    </span>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=hcFbfrbEVoQ&t=2s" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-normal font-sans hover:bg-sky-800"
      >Military’s says all humanity will know whats going on, weither they accept it or not BIG DADDY</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=oQRVTt1aVao&t=1s" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-normal hover:bg-sky-800"
      >MUST WATCH: We patriots Preparing ourselves for a thousand technologies coming.BIG DADDY </span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=IncWGbJzuX8&t=1s" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-normal font-sans hover:bg-sky-800"
      >Venezuela liberated !! whos next !! the 3 amigos are about to carve out their territories world wide BIG DADDY </span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/BIGDADDY17west/status/2010874338371657933" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-normal font-sans hover:bg-sky-800"
      >THE CORRUPT BANKSTERS HAVE SOLD EXTREMES AMOUNT OF SILVER THEY DONT HAVE ? DEADMEN WALKING</span
    >
  </a>
</h5>

      <p class="mb-4 text-base text-left font-bold">Intel:4</p>

    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/ECETISTARGATEOFFICIAL?">ECETI STARGATE</a
      > | <a

        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/corbettreport?">The Official Corbett Report</a
      >
    </span>
    


     <p class="mb-4 text-base text-left font-bold">DUMBS and UNDERGROUND</p>

    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/DUMBSandUNDERGROUND">DUMBS and UNDERGROUND ⚔ The Invisible War ⚔</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/ReptoTV">REPTOS, SHAPESHIFTERS, VRIL, GRAYS - ALIEN DOMINION - Secret Space</a
      >
    </span>




    <p class="mb-4 text-base text-left font-bold">SPOT PRICE PER TROY OUNCE</p>

	<span class="my-1"><a
        class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-300"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.abcbullion.com.au/products-pricing/silver">SPOT PRICE PER TROY OUNCE</a
      > | <a
        class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-300"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.abcbullion.com.au/store/silver/">silver</a

      > | <a
        class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-300"
        target="_blank"
        rel="noopener noreferrer"
        href="https://ainsliebullion.com.au/">Ainslie Bullion</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-white bg-gray-700 font-bold text-justify hover:bg-gray-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.gsmarena.com/google_pixel_7_pro-11908.php">GSMarena</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.starkey.com/compatibility">starkey phone compatibility</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.samsung.com/latin_en/support/mobile-devices/how-to-use-hearing-aids-with-samsung-galaxy-devices/">hearing aids with Samsung Galaxy</a  
    > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://support.google.com/pixelphone/answer/9393002?hl=en">Hearing aid compatibility for Pixel phones</a
      >
    </span>

    <p class="mb-4 text-base text-left font-bold">Jay Arae Essex</p>
   

    	<span class="my-1"><a
        class="underline text-white bg-orange-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/channel/UClYvbl2TDiErM0KLrO6KtRA/videos">Jay Arae Essex</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@valceusawakening/featured">walker “Spirit Reader” valceus</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@British_Tim">British Tim</a
      > | <a
        class="underline text-white bg-orange-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.thespiritualfoundation.com/">spiritual foundation</a
      >
    </span>