---

---

<!-- <IntelLL /> -->	



     <span class="my-1">
    <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/astronomy/australia/sydney">Sydney-sun-set</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/worldclock/australia/sydney">Sydney-time</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.time.is/">Time</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@Big_Daddy-7Q">BIG DADDY</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/user/MichaelJaco">Michael Jaco</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@SkyePrinceofficial/">Skye Prince</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.rumormillnews.com/">The Rumor Mill News Reading Room</a
        > | <a
        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://operationdisclosureofficial.com/all/">Operation Disclosure</a
        > | <a     
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://voyages-of-light.com/blog/">Voyages of Light</a
        > | <a     
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://voyages-of-light.com/2025/11/01/the-biggest-lie-ever-told-judith-kusel/">The Biggest Lie ever Told | Judith Kusel</a    
        >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=54zudEPxBrE">THE REAL ISMAEL PEREZ</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/pannon/">pAnNON</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/kV2d3UMtWI2h">the Q-King</a
      > 
    </span>

    <p>Here are my some of my awesome built in features:</p>

	<span class="my-1"><a
        class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-300"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.abcbullion.com.au/products-pricing/silver">SPOT PRICE PER TROY OUNCE</a
      > | <a
        class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-300"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.abcbullion.com.au/store/silver/">silver</a
      >
    </span>

    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/projectcamelot">projectcamelot</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@NinosCorner">David Nino Rodriguez</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-white bg-gray-700 font-bold text-justify hover:bg-gray-800"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.gsmarena.com/google_pixel_7_pro-11908.php">GSMarena</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.starkey.com/compatibility">starkey phone compatibility</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.samsung.com/latin_en/support/mobile-devices/how-to-use-hearing-aids-with-samsung-galaxy-devices/">hearing aids with Samsung Galaxy</a  
    > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://support.google.com/pixelphone/answer/9393002?hl=en">Hearing aid compatibility for Pixel phones</a
      >
    </span>