---
import Pagelinks from "./Pagelinks.astro";


---

<!-- <Last /> -->	




     

<p id="Perisher" class="mb-4 text-base text-left font-bold">Perisher Snow Stake</p>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.perisher.com.au/reports-cams/cams#Xfront" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >Perisher Front Valley</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.perisher.com.au/reports-cams/reports/lift-report" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >Perisher lift-report</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.weatherzone.com.au/nsw/snowy-mountains/perisher-valley" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-blue-950 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
      >Perisher Valley Weather</span
    >
  </a>
</h5>

       
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.weatherzone.com.au/nsw/snowy-mountains/thredbo-village" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-blue-950 font-bold text-justify text-transform: uppercase hover:bg-pink-700"
      >Thredbo Village</span
    >
  </a>
</h5>
     
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=e2KcvL0E-2Y" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >Perisher Snow Stake</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=yr09mo1sbq0" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >Blue Cow Live Camera</span
    >
  </a>
</h5>
     

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=Xt_KjaeGcGo" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >Friday Flat Live</span
    >
  </a>
</h5>



     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@mountainwatch8139" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >Mountainwatch</span
    >
  </a>
</h5>


		<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://peaceful1934.netlify.app/">peaceful1934</a
      >
    </span>
  
		<span class="my-1"><a
        class="underline text-white bg-fuchsia-700 font-bold text-justify text-transform: uppercase hover:bg-fuchsia-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://docstailwind-71465781-e91bb.web.app/">docstailwind</a
      > | <a
        class="underline text-white bg-cyan-800 font-bold text-justify text-transform: uppercase hover:bg-cyan-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://astrowind-91824697-20391.web.app/">astrowind</a
      >
    </span>

     <p id="Hearing" class="mb-4 text-base text-left font-bold text-transform: uppercase ">The Hearing & Brain Health Channel Andrew Campbell</p>

          <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@hearingandbrainhealth" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >The Hearing & Brain Health Channel Andrew Campbell</span
    >
  </a>
</h5>

     
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=KzR7se7bkUo" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >Hearing & Brain Health Foundations Part 1 The Hearing & Brain Health Channel Andrew Campbell</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=7JKI-dgSBTQ" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >NeuAudio - Hearing & Brain Health Webinar Recording The Hearing & Brain Health Channel Andrew Campbell</span
    >
  </a>
</h5>

<Pagelinks />
   
    <p id="Cancer" class="mb-4 text-base text-left font-bold text-transform: uppercase ">Cancer Is Caused By Parasites</p>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/LeeMerrittMD" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >The Medical Rebel</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7bp0g2-822023-merritt-medical-hour-dr.-lee-merritt-ft.-mitchell-gerber.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >8/2/2023 Merritt Medical Hour: Dr. Lee Merritt ft. Mitchell Gerber Biological Medicine</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://drleemerritt.com/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >The Medical Rebel drleemerritt.com</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v5dtm9x-hangng-with-the-healing-for-the-ages-gang-what-we-can-learn-this-year.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >Hanging with the Healing for the Ages Gang--what we can learn this year! The Medical Rebel</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/Parasites-a-New-Paradigm-Dr.-Lee-Merritt:9" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 bg-pink-600 font-normal font-sans hover:bg-pink-700"
      >How to rid yourself of Parasites and is CANCER IS CAUSED BY PARASITES?Dr.-Lee-Merritt</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@SuddenDeath:c/parasites:1" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >Getting rid of parasites and fixing neurological problems? - Dr. Lee Merritt, MD</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@DryFastingClub:7/secret-to-getting-rid-of-parasites:6" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >Secret to Getting Rid of Parasites Faster and More Effectively: Dry Fasting</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@SuddenDeath:c/hydrogon-water:7" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >Can Hydrogen water stop tremors? - Dr Paul Barattiero</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/9d1f789c-aea7-42c6-98da-7ad9cb78d97c" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >Lyra Nara Inc: Cancer Is Caused By Parasites</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@LyraNara:3" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >@LyraNara:3</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/playlist?list=UUg-W_to0XNZaUV6kE9X3ssQ" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >Lyra Nara Inc</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.bitchute.com/video/vr9R08LE6p8/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >Customized DMSO Therapy & HERBESO - The Unique Lyra Nara Way</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=Ns6-4ktPFcs" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >PUT A CLOVE UNDER YOUR TONGUE FOR 5 MINUTES… HERE'S WHAT HAPPENS | Dr. Mandell</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=Ns6-4ktPFcs" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >PUT A CLOVE UNDER YOUR TONGUE FOR 5 MINUTES… HERE'S WHAT HAPPENS | Dr. Mandell</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=IOwuLuCCc4E" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >Don’t Drink Plain Water After 50! Add THIS Mineral for Insane Blood Flow | Dr.Rena Malik</span
    >
  </a>
</h5>


 <p id="Intel_6" class="mb-4 text-base text-left font-bold">Intel:6</p>

    	<span class="my-1"><a
        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-purple-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/supersoldiertalk">supersoldiertalk</a
      > <br> <a
        class="underline text-white bg-pink-700 font-bold text-justify hover:bg-pink-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/user/projectcamelot">projectcamelot</a
      >
    </span>


    	<span class="my-1"><a
        id="ECETI" class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/ECETISTARGATEOFFICIAL">ECETI STARGATE ~ OFFICIAL</a
       > <br> <a
              
       class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/eceti/#urgent">URGENT MESSAGE For HUMANITY by James Gilliland</a
        > 
  
 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@EcetiStargateOfficial" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal font-sans hover:bg-red-700"
      >ECETI Stargate Official YouTube Channel</span
    >
  </a>
</h5>    


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v5f8t0q-urgent-message-to-humanity-part-1-and-2-by-james-gilliland.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-normal font-sans hover:bg-lime-700"
      >Urgent Message to humanity part 1 & 2 by James Gilliland </span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=v1TJqNSPV9Y" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal font-sans hover:bg-red-700"
      >Urgent Message to humanity part 1 & 2 by James Gilliland Films du Lion</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=zIP7iLouBIk" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal font-sans hover:bg-red-700"
      >URGENT MESSAGE for HUMANITY ECETI Stargate Official YouTube Channel</span
    >
  </a>
</h5>    

        
            <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=AlLciSai0ik" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 bg-yellow-600 font-normal font-sans hover:bg-sky-800"
      >Man Films Thousands Of UFOs And Speaks To Aliens!? Full Length UFO Documentary 2026 thirdphaseofmoon</span
    >
  </a>
</h5>

                    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.ecetistargate.tv/" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 bg-yellow-400 font-normal font-sans hover:bg-sky-800"
      >www.ecetistargate.tv</span
    >
  </a>
</h5>

        
            <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/BOeiwLDb8ak/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >James Gilliland Makes Contact with Extraterrestrials/SHOCKING Video Evidence from ECETI Ranch..</span
    >
  </a>
</h5>

         <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/BOeiwLDb8ak/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >James Gilliland Makes Contact with Extraterrestrials/SHOCKING Video Evidence from ECETI Ranch..</span
    >
  </a>
</h5>
     
 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/vsPHoX5Vf6Sb/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >JUAN O SAVIN & JAMES GILLILAND THE BIG PICTURE. THE FINAL FRONTIER. CLIF HIGH, SGANON, GENE DECODE</span
    >
  </a>
</h5>


     <h5
  id="david-icke-reptilians" class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=ZsA33fgFK_A" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-red-800"
      >David Icke - Reptilians & Other Dimensional Entities</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=VjmPHMffBrs" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-red-800"
      >They Finally Admit Reptilians are here? David Icke</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=oL4-waojfrQ" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-red-800"
      >David Icke & Dani Henderson - FULL DISCLOSURE! The AI God The failed Global Takeover & FREEDOM 4 ALL</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=8mNPhxYJKJI" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-amber-600 font-normal hover:bg-amber-800"
      >Why the Draco Wanted Human Soldiers as Proxies Awaken Zone</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=2sMtr-7OxOs" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 bg-amber-600 font-normal hover:bg-amber-800"
      >Anunnaki Ancient Secrets Revealed: The Grand Finale with Erich Von Däniken Billy Carson Official</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=15s0ZluoeWs" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 bg-amber-600 font-normal hover:bg-amber-800"
      >Everything You Were Taught About God, Religion, and Law Is a Lie | Jordan Maxwell Best Of Jordan Maxwell</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=DRIMX5X9IU4" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-red-800"
      >Did Eisenhower Have Secret Edwards AFB Meeting with E.T.s on February 19, 1954? Earthfiles</span
    >
  </a>
</h5>

           
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=h3-uVGXpGw4" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 bg-sky-600 hover:bg-sky-800"
      >THE TALL BLUE BEINGS FROM SIRIUS B feat Mitchell Gibson (DVD) Produced by Anton Lawrence (HQ) AMEN-RA film productions</span
    >
  </a>
</h5>

           
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=n_4Aht9F4D8" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 bg-sky-600 hover:bg-sky-800"
      >Ancient Aliens: Buddha is an Extraterrestrial?! (Season 20) | HISTORY</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=DrQCrLcfnZk" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 bg-sky-600 hover:bg-sky-800"
      >Ancient Aliens: Did The Annunaki Come From the Stars?! | History HISTORY</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7bgzlm-were-already-living-in-an-alien-invasion-movie-truthstream-media.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-600 font-normal hover:bg-sky-800"
      >We're Already Living in an Alien Invasion Movie - Truthstream Media Free Your Mind Videos</span
    >
  </a>
</h5>

           
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=269617" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-blue-600 font-normal hover:bg-blue-800"
      >Video: Vatican Biblical Scholar - The Vatican Fired Him For Revealing What The Bible Really Says!</span
    >
  </a>
</h5>

           
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=1FbfuISVC5M" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-blue-600 font-normal hover:bg-blue-800"
      >The Vatican Fired Him For Revealing What The Bible Really Says! Project Unity</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/CTFZm7XYIKZm/" rel="noopener" target="_blank"
    ><span
      class="underline text-red-600 bg-gray-900 font-normal hover:text-white hover:bg-sky-800"
      >FULL DISCLOSURE COMING IN EARLY 2025 - MANY DON'T BELIEVE IN UFO'S OR ALIENS - PREPARE YOURSELF</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/ndRugN5YvB6N/" rel="noopener" target="_blank"
    ><span
      class="underline text-red-600 bg-gray-900 font-normal hover:text-white hover:bg-sky-800"
      >FULL DISCLOSURE COMING IN EARLY 2025 - MANY DON'T BELIEVE IN UFO'S OR ALIENS - PREPARE YOURSELF</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/channel/bluewater/" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-transform: uppercase bg-red-700 font-normal hover:bg-sky-800"
      >bluewater</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/uFSQTJwiH2fp/" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 text-transform: uppercase bg-red-700 font-normal hover:bg-sky-800"
      >REMINDER for all The Dummies that know everything</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/Xqx1Ce9JaMbh/" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 text-transform: uppercase bg-red-700 font-normal hover:bg-sky-800"
      >Aliens for dummies - ALIEN EMBYROS IN THE V*A*X*X</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/vdow8z-charlie-freak-the-q-teams-takedown-of-the-cabal-from-a-to-z-200720.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 text-transform: uppercase bg-green-600 font-normal hover:bg-sky-800"
      >Charlie Freak, The Q Team's Takedown of the Cabal from A to Z (200720) Charlie Freak VIDEOs</span
    >
  </a>
</h5>

        <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/channel/KBziqs7AlFFF/">PIXIE LOVE</a
            > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/video/soC20jpbtGlN/">Enoch</a
      >
    </span>

 <p id="Hard" class="mb-4 text-base text-left font-bold text-transform: uppercase ">Hard evidence that all vaccines are poison. Every single one!</p>
    	<div class="my-1">
        

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://1954.date/thimerosal/#mercury" rel="noopener" target="_blank"
    ><span
      class="underline text-red-700 bg-yellow-100 font-bold text-justify text-transform: uppercase hover:text-red-800"
      >Hard evidence that all vaccines are poison. Every single one!</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6yoh46-hard-evidence-that-all-vaccines-are-poison.-every-single-one.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
      >Hard evidence that all vaccines are poison. Every single one! The Real Dr. Judy A. Mikovits</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v706nxu-october-8-2009-anniversary-of-our-xmrv-paper-that-destroyed-them.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white text-shadow-lg/50 bg-green-700 font-bold text-justify hover:bg-green-900"
      >October 8 2009 Anniversary of our XMRV paper that destroyed them The Real Dr. Judy A. Mikovits</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://live.childrenshealthdefense.org/chd-tv/events/moment-of-truth-childrens-health-defense-conference-2025/understanding-the-enormity-of-vaccine-injury/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-600 font-bold text-justify text-transform: uppercase hover:bg-lime-700"
      >Understanding The Enormity of Vaccine Injury (video)</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/ded125e4-d3ee-4a88-beeb-6443c86a6616" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-700 font-bold text-justify hover:bg-sky-900"
      >10 FACTS VACCINE COMPANIES Don't Want You to Know love-truth-hate</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/84df0b27-52de-4017-bd24-060589c643ac" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-700 font-bold text-justify hover:bg-sky-900"
      >We don't want their fucking vaccine says PhD in molecular biology The Prisoner</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://vimeo.com/199506242" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
      >10 FACTS VACCINE COMPANIES Don't Want You to Know</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7bs4ck-the-dr.-ardis-show-vaxapp-with-dr.-sherri-tenpenny-episode-06.24.2026.html" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-600 font-bold text-justify text-transform: uppercase hover:bg-lime-700"
      >The Dr. Ardis Show | VaxApp with Dr. Sherri Tenpenny | Episode 06.24.2026 The Dr. Ardis Show</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.bitchute.com/video/Xqx1Ce9JaMbh/" rel="noopener" target="_blank"
    ><span
      class="underline text-red-700 bg-yellow-100 font-bold text-justify text-transform: uppercase hover:text-red-800"
      >Aliens for dummies - ALIEN EMBYROS IN THE V*A*X*X</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@Wyrmspleen:3" rel="noopener" target="_blank"
    ><span
      class="underline text-yellow-200 bg-pink-700 font-bold hover:bg-sky-800"
      >Wyrmspleen @Wyrmspleen</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.bitchute.com/video/Cv2yKzX1kCAc/" rel="noopener" target="_blank"
    ><span
      class="underline text-yellow-200 bg-red-700 font-bold hover:bg-sky-800"
      >HEALTH MINISTER SAYS NOBODY IN AUSTRALIA HAS DIED FROM COVID (WARNING LANGUAGE)</span
    >
  </a>
</h5>
       
           <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/aebd848f-abda-493f-882c-83e399f334d9" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
      >Vaccines are Bio-Weapons</span
    >
  </a>
</h5>

</div>

   	<span class="my-1"><a
        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/38a79874-9afc-4a8e-abc7-f470141897c3">DR. MCCULLOUGH: VACCINES IDENTIFIED AS DOMINANT RISK FACTOR FOR AUTISM</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/fda8acb1-cf10-46f8-b04e-ba2db149a67f">‘The Amish have essentially NO AUTISM’ - link between VACCINES & autism</a
            > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/da8cf1e7-59e4-416a-8bb6-0fb01f699498">The REAL Cause of Autism Revealed: Dr. Berg Explains</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-white bg-pink-700 font-bold text-justify hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/channels/highwire/videos/all">The HighWire with Del Bigtree</a
      > | <a
        class="underline text-white bg-pink-700 font-bold text-justify hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/6c3b5f13-647e-449f-b500-2f49f0d02883">DR. TENPENNY ON VACCINES, IMMUNITY & THE CHRONIC ILLNESS CRISIS</a
        > | <a
        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/autism/#autismone">AutismOne 2014 - Andreas Kalcker - Successful Treatment of Autism (CDS)</a
      >
    </span>



    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/channel/maori-morpheus/">MAORI MORPHEUS</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://old.bitchute.com/channel/thecosmicswitchboardcom/">thecosmicswitchboard.com</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=RWjphP6ruF8">He Rescued a 'Puppy' From a Blizzard. It Grew Into Something Terrifying</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=bPHbZ4140xs">Why Medieval Log Cabins Stayed Warm in -40°F While Modern Homes Freeze</a
      >
    </span>

     <p class="mb-4 text-base text-left font-bold text-transform: uppercase ">Secrets of Antarctica - Echoes of An Alien Race Linda Moulton Howe | Full Documentary</p>

    	<span class="my-1"><a
        class="underline text-white bg-sky-500 font-bold text-justify hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=T-IiZEfjT-o&t=1s">Secrets of Antarctica - Echoes of An Alien Race Linda Moulton Howe | Full Documentary</a
      >
    </span>

    <p class="mb-4 text-base text-left font-bold text-transform: uppercase ">The Mike Holt Show</p>

    	<span class="my-1"><a
        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/iMQmtT7SBDyw">The Mike Holt Show</a
      > | <a
        class="underline text-white bg-purple-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/video/u63u1Jyl6mzZ">Jacquie travels without a driver's licence</a
      >
    </span>


    	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=230E18_suTU">I promise to pay the bearer on demand ...</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=RMxKKtw43iw">We are already in credit!</a
      >
    </span>

        	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=ytEGAJtp-g0">How Australia’s Constitution Was Altered Without Your Consent - (1973 Explained)</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=s-iUyxhEiM0">Banks : Do They REALLY Have Your Money? The Truth May Shock You</a
      >
    </span>


        	<span class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=7pK_yIm_qQw">3 MINS AGO! Albanese LOOSES It as Nat Barr Accuses Labor of Failing Aussies on LIVE TV</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=4k8jK5A84sw">3 MINS AGO! Chris Bowen TERRIFIED as Albanese to SACK HIM as Energy Cost Crashes Australian Economy</a
      >
    </span>


<p id="GoldFish" class="mb-4 text-base text-left font-bold">The GoldFish Report</p>
        	<div class="my-1"><a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/video/hOiXlnwNqGUr">Gene Decode & David Nino Rodriguez: Get Ready 6.7.25: Trump's Military Alliance Preparing For Major War!</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/channels/alexcollierofficial2/home">Alex Collier Official 2</a

      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/96a615e6-47d8-4ae9-ad22-d1ff33fb5eaa"
        >Watch Alex Collier Interview Webinar #25 – With Brad Olsen – Friday, January 23rd, 2026!</a

      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/channels/jaguar11/home">The Cosmic Switchboard</a

      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.brighteon.com/7443ec10-59f8-4b49-8286-9555568c1615"
        >Secrets of Antarctica: UFOs, Underground Bases & More – Brad Olsen Interview with James Bartley</a
        > 
        </div>
<div class="my-1">
          <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/video/O260yiFZEY6P/">The GoldFish Report No. 400 - Special Edition: Space Policy & Earth Dilemma w/ Alex Collier</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://banned.video/watch?id=68ff3acae1117ee5933660b1">How Big Pharma Turned Cancer Into a TRILLION-DOLLAR Business</a
      >
    </span>


    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v6jje67--chlorine-dioxide-banned-censored-and-feared-by-big-pharma-w-jonathan-otto.html?">Chlorine Dioxide: Banned, Censored & Feared by Big Pharma w/ Jonathan Otto</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v6zwrxa-the-disturbing-truth-about-parasites-live-q-and-a-w-dr.-jason-dean.html?">The DISTURBING Truth About Parasites — Live Q&A w/ Dr. Jason Dean</a
      >
    </span>


    		<span class="my-1"><a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v6y5rxm-from-oil-barons-to-pill-pushers-the-rockefeller-war-on-health-w-jeff-adam.html?">From Oil Barons to Pill Pushers: The Rockefeller War on Health w/ Jeff Adam</a
      > | <a
        class="underline text-white bg-green-700 font-bold text-justify hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v6y7c88-the-final-battle-nanotech-transhumanism-and-the-war-for-your-soul-w-dr.-ed-.html?">The Final Battle: Nanotech, Transhumanism & the War for Your Soul w/ Dr. Ed Group</a
      >
    </span>

    	<span class="my-1"><a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=EozLMXjrROQ&t=4s">Challenging the system in Australia</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=xl63IqETCGI&t=3s">Taking advantage of the Bills of Exchange Act</a
      >
    </span>

    <p class="mb-4 text-base text-left font-bold">It may be a rough ride, but rejoice!</p>

	<div class="my-1">
    <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=rcad_g-wpms&t=1s">It may be a rough ride, but rejoice!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=DtQ8EhyQgSo">The side of Barbara O'Neill that you never knew about!</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=1zJH9YhjwEg">Dismantling the C19 narrative</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=dTK8V2MZ_p0">New Earth: The Dawn of the Galactic Human</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=RbzgfBLrscg">Australia's Forgotten Electronics Giant</a
      >
    </div>

   <Pagelinks />
   
 <p id="OneWhoKnows" class="mb-4 text-base text-left font-bold">One Who Knows: It’s The End Of The World As We Know It, And I Feel Fine</p>
   

    <span class="my-1">
    <a

        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=99Q4JKOToTs">Jabs & Cholesterol Meds Linked to Dementia</a
      > <br> 
      
                  
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://operationdisclosureofficial.com/all/" rel="noopener" target="_blank"
    ><span
      class="underline text-green-700 bg-black  font-bold font-sans text-justify text-transform: uppercase  hover:text-green-400"
      >Operation Disclosure</span
    >
  </a>
</h5>

             
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://operationdisclosureofficial.com/2026/07/14/axios-nesara-gesara-activated-quantum-financial-system-live-republic-restored/" rel="noopener" target="_blank"
    ><span
      class="underline text-green-900 bg-black  font-bold font-sans text-justify text-transform: uppercase  hover:text-green-400"
      >Axios: NESARA-GESARA Activated, Quantum Financial System Live, Republic Restored</span
    >
  </a>
</h5>
       
             
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://dinarchronicles.com/intel/" rel="noopener" target="_blank"
    ><span
      class="underline text-blue-700 bg-black  font-bold font-sans text-justify text-transform: uppercase  hover:text-sky-400"
      >Dinar Chronicles</span
    >
  </a>
</h5>

             
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://dinarchronicles.com/2026/07/04/dinar-chronicles-via-a-gcr-update-as-of-july-4-2026/" rel="noopener" target="_blank"
    ><span
      class="underline text-blue-700 bg-black  font-bold font-sans text-justify text-transform: uppercase  hover:text-sky-400"
      >Dinar Chronicles via a GCR: Update as of July 4, 2026</span
    >
  </a>
</h5>
             
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://dinarchronicles.com/2026/07/05/bruces-the-big-call-intel-notes-by-wisernow-7-2-26/" rel="noopener" target="_blank"
    ><span
      class="underline text-blue-700 bg-black  font-bold font-sans text-justify text-transform: uppercase  hover:text-sky-400"
      >Bruce’s The Big Call Intel Notes by WiserNow 7-2-26</span
    >
  </a>
</h5>

             
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://dinarchronicles.com/2026/07/14/prolotario-the-most-critical-week-of-our-entire-lives-is-happening/" rel="noopener" target="_blank"
    ><span
      class="underline text-blue-700 bg-black  font-bold font-sans text-justify text-transform: uppercase  hover:text-sky-400"
      >Prolotario: The Most Critical Week of our Entire Lives is Happening</span
    >
  </a>
</h5>

             
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://dinarchronicles.com/2026/07/11/prolotario-things-have-already-taken-a-major-turn/" rel="noopener" target="_blank"
    ><span
      class="underline text-blue-700 bg-black  font-bold font-sans text-justify text-transform: uppercase  hover:text-sky-400"
      >Prolotario: Things have Already Taken a Major Turn</span
    >
  </a>
</h5>

             
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://dinarchronicles.com/2026/07/12/stairway-to-heaven-has-started-ktfa-frank26-video-update-7-11-26/" rel="noopener" target="_blank"
    ><span
      class="underline text-blue-700 bg-black  font-bold font-sans text-justify text-transform: uppercase  hover:text-sky-400"
      >“Stairway to Heaven has Started” – KTFA Frank26 Video Update 7-11-26</span
    >
  </a>
</h5>

             
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://amg-news.com/explosive-report-operation-iso-20022-is-active-the-global-financial-system-has-been-breached-from-within/?utm_source=larapush&utm_medium=notification&utm_campaign=5277" rel="noopener" target="_blank"
    ><span
      class="underline text-blue-700 bg-black  font-bold font-sans text-justify text-transform: uppercase  hover:text-sky-400"
      >EXPLOSIVE REPORT: OPERATION ISO 20022 IS ACTIVE – The Global Financial System has been BREACHED FROM WITHIN!</span
    >
  </a>
</h5>


      <br> <a   
        class="underline text-blue-700 bg-black font-bold text-justify hover:text-sky-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://dinarchronicles.com/2025/12/30/new-information-coming-tomorrow-by-one-who-knows-12-29-25/">“New Information Coming Tomorrow…” by One Who Knows – 12.29.25</a
        > <br> <a 

        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://operationdisclosureofficial.com/2025/12/30/one-who-knows-its-the-end-of-the-world-as-we-know-it-and-i-feel-fine/"
        >One Who Knows: It’s The End Of The World As We Know It, And I Feel Fine</a
        > 
       
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7a5mio-global-financial-reset-live-may-20th-2026.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Global Financial Reset LIVE - May 20th 2026 JMC Broadcasting</span
    >
  </a>
</h5> 
        
        <a 
        

        class="underline text-green-700 bg-white font-extrabold text-justify hover:text-green-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://operationdisclosureofficial.com/2026/01/16/one-who-knows-current-events-the-50000-foot-view/"
        >One Who Knows: Current Events, the 50,000 Foot View</a
        > <br> <a 


        class="underline text-green-700 bg-white font-extrabold text-justify hover:text-green-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://operationdisclosureofficial.com/tag/one-who-knows/"
        >Tag: One Who Knows</a
        > <br> <a 

        class="underline text-blue-700 bg-black font-bold text-justify hover:text-sky-400"
        target="_blank"
        rel="noopener noreferrer"
        href="https://dinarchronicles.com/2025/12/30/its-the-end-of-the-world-as-we-know-it-and-i-feel-fine-by-one-who-knows-12-30-25/"
        >One Who Knows: It’s The End Of The World As We Know It, And I Feel Fine</a
        > 
               
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v7a5mio-global-financial-reset-live-may-20th-2026.html?" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Global Financial Reset LIVE - May 20th 2026 JMC Broadcasting</span
    >
  </a>
</h5> 

        
               
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://operationdisclosureofficial.com/2026/05/22/kat-update-q-the-storm-rider-on-project-blue-beam-captured/" rel="noopener" target="_blank"
    ><span
      class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
      >Kat Update: Q The Storm Rider on Project Blue Beam Captured</span
    >
  </a>
</h5> 

               
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.facebook.com/DrMichaelSalla/posts/pfbid02TvPEUnSUAg6i4bYvzJnmJZDHUV38igx2Ebj93hEpwjFkr8n4xfL91qQ2kfhoZ4Qsl" rel="noopener" target="_blank"
    ><span
      class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
      >A picture is worth a thousand words. President Trump is here signaling that physical contact with extraterrestrials has happened at the highest level of government. He is preparing the public for the UFO releases that are coming: Michael Salla</span
    >
  </a>
</h5> 

              
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=Mg3guLdC0NU" rel="noopener" target="_blank"
    ><span
      class="underline text-orange-700 bg-black font-bold text-justify hover:text-green-400"
      >Why Australia Is Spending $1.2B to Pave 2,720km of Desert Ultimate Mega Builds</span
    >
  </a>
</h5> 

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=gP9rMZCDUeQ" rel="noopener" target="_blank"
    ><span
      class="underline text-orange-700 bg-black font-bold text-justify hover:text-green-400"
      >PERTH to ULURU | The Longest Shortcut | Great Central Road | OUTBACK ADVENTURE

Camp with us M8</span
    >
  </a>
</h5> 

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=NQRiIhTj34M" rel="noopener" target="_blank"
    ><span
      class="underline text-orange-700 bg-black font-bold text-justify hover:text-green-400"
      >Best of Steve Grahame | Back to Back FULL EPISODES of Outback Truckers Outback Truckers</span
    >
  </a>
</h5> 


    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=3EJQU1kRlyQ" rel="noopener" target="_blank"
    ><span
      class="underline text-orange-700 bg-black font-bold text-justify hover:text-green-400"
      >The Toughest Trucking Jobs on Earth Outback Truckers</span
    >
  </a>
</h5> 



        <a 

        class="underline text-sky-700 bg-white font-extrabold text-justify hover:text-sky-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=KqQu48v6VlQ"
        >I Have Never Seen This Before! Astrologer REVEALS What’s Coming For Humanity In 2026 | Pam Gregory Wisdom From North and Pam Gregory</a
        > <br> <a 

        class="underline text-sky-700 bg-white font-extrabold text-justify hover:text-sky-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=oNlQlF1K4C8"
        >World Famous Astrologer On The Massive Shift Coming In 2026 | Pam Gregory Wisdom From North Clips</a
        > <br> <a 


        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://voyages-of-light.com/blog/">Voyages of Light</a
        > | <a     
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://voyages-of-light.com/2025/11/01/the-biggest-lie-ever-told-judith-kusel/">The Biggest Lie ever Told | Judith Kusel</a    
        
        > <br> <a 
        class="underline text-green-700 bg-white font-extrabold text-justify hover:text-green-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://sunnysjournal.com/2026/01/27/x-marks-the-spot-holly-celiano-mr-x/"
        >X Marks the Spot | Holly Celiano & Mr X</a

                
        > <br> <a 
        class="underline text-green-700 bg-white font-extrabold text-justify hover:text-green-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://sunnysjournal.com/2026/01/30/understanding-saudi-arabias-role-in-the-deep-state-bioclandestine/"
        >Understanding Saudi Arabia’s Role in the Deep State | BioClandestine</a
                        
        > <br> <a 
        class="underline text-green-700 bg-white font-extrabold text-justify hover:text-green-400 hover:bg-black"
        target="_blank"
        rel="noopener noreferrer"
        href="https://sunnysjournal.com/2026/01/30/power-shifts-timing-is-everything-ben-danklin/"
        >Power Shifts. Timing is EVERYTHING. | Ben Danklin</a

        >
    </span>

  <p id="Herbs" class="mb-4 text-base text-left font-bold">3 Herbs Curing all 4 Major Parasitic Infections (Cancer) by Dr. Bryan Ardis</p>

    <span class="my-1">
    <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v6wgn46-3-herbs-curing-all-4-major-parasitic-infections-by-dr.-brian-ardis.html"
        >3 Herbs Curing all 4 Major Parasitic Infections (Cancer) by Dr. Bryan Ardis</a
 > <br> <a   
        class="underline text-white bg-sky-500 font-bold text-justify text-transform: uppercase hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://huldaclark.com/The_Cure_for_All_Cancers_Reprint_2008.pdf"
        >Dr. Hulda Clark book The Cure for All Cancers</a

         > <br> <a   
        class="underline text-white bg-amber-500 font-bold text-justify text-transform: uppercase hover:bg-amber-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://1954.date/hulda/#herbs"
        >3 Herbs Curing all 4 Major Parasitic Infections (Cancer)</a
      >
       </span>


  <p  id="Cable" class="mb-4 text-base text-left font-bold">Australia's $3.8 Billion Cable, the Marinus Link, is a GAME CHANGER</p>

    <span class="my-1">
    <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=PvTmjt2cLhE&t=3s"
        >Australia's $3.8 Billion Cable, the Marinus Link, is a GAME CHANGER</a
 > <br> <a    
        class="underline text-white bg-sky-500 font-bold text-justify text-transform: uppercase hover:bg-sky-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=J3dYjV1wqV0"
        >Tasmania Documentary 4K | Wildlife | Australia Landscapes and Nature | Original Documentary</a
      >

                
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=KKZnXLM69zU" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >The Renewable Lie: How Australia Was Sold a False Promise | Aidan Morrison & Chris Uhlmann John Anderson Media</span
    >
  </a>
</h5>


           
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=_6-IUD6QPyI" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >WARNING! Your Legs WEAKEN First! Eat These 10 Foods To Strengthen Them! Dr. Sten Ekberg</span
    >
  </a>
</h5>

           
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=8R3uCWzdOI8" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >CANCELLED! The Tommy Robinson and Karl Stefanovic Podcast They Don't Want You to See!! Tommy Robinson</span
    >
  </a>
</h5>
 
           
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=WXiVDSv31GY" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >CANCELLED: The Full Karl Stefanovic and Tommy Robinson Interview Pauline Hanson's Please Explain</span
    >
  </a>
</h5>

       </span>


