---
import Pagelinks from "./Pagelinks.astro";
---

<!-- <Movies /> -->	

<Pagelinks />

 <p id="Movies" class="mb-4 text-base text-left font-bold">Movies</p>
    
    	<div class="my-1">

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=JIWARBvn8qU" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Jason Statham Is TRANSPORTER - Fast Action Free English Movie | Hollywood Blockbuster English Movie</span
    >
  </a>
</h5>


    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=SCYT8vb2siQ" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Disclosure Day | Official Trailer</span
    >
  </a>
</h5>

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=3NBqWYX-qIc" rel="noopener" target="_blank"
    ><span
      class="text-white bg-yellow-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >The Beekeeper</span
    >
  </a>
</h5>

</div>

 <p id="Linux" class="mb-4 text-base text-left font-bold">Linux Dev Labs</p>
    
    	<div class="my-1">

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=efDXFsUWk8U" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Why The Linus Torvalds Is Irredeemably Corrupt</span
    >
  </a>
</h5>

</div>

Why The Linus Torvalds Is Irredeemably Corrupt