---
import Pagelinks from "./Pagelinks.astro";
---

<!-- <Movies /> -->	

<Pagelinks />

<p id="page081" class="mb-4 text-base text-left font-bold">Here are my some of my awesome built in features:</p>
 <p id="Movies" class="mb-4 text-base text-left font-bold">Movies</p>
    
    	<div class="my-1">

           
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.primevideo.com/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-600 font-normal hover:bg-orange-800"
      >www.primevideo.com</span
    >
  </a>
</h5>        

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=JIWARBvn8qU" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Jason Statham Is TRANSPORTER - Fast Action Free English Movie | Hollywood Blockbuster English Movie</span
    >
  </a>
</h5>


    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=SCYT8vb2siQ" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Disclosure Day | Official Trailer</span
    >
  </a>
</h5>

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=3NBqWYX-qIc" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-yellow-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >The Beekeeper</span
    >
  </a>
</h5>

</div>

 <p id="Linux" class="mb-4 text-base text-left font-bold">Linux Dev Labs</p>
    
    	<div class="my-1">

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=efDXFsUWk8U" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Why The Linus Torvalds Is Irredeemably Corrupt</span
    >
  </a>
</h5>

            
           <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.tecmint.com/keep-linux-commands-running-after-logout/?" rel="noopener" target="_blank"
    ><span
      class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
      >SSH Dropped and Killed Your Job? Here’s the Fix</span
    >
  </a>
</h5>  


            
           <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=04EmeXSZo_0&t=1158s" rel="noopener" target="_blank"
    ><span
      class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
      >Fast, Free, and Easy VPN Build in Minutes - Hak5 2022</span
    >
  </a>
</h5> 
            
           <h5
   class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://github.com/Nyr/wireguard-install?" rel="noopener" target="_blank"
    ><span
      class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
      >WireGuard road warrior installer for Ubuntu, Debian, AlmaLinux, Rocky Linux, CentOS and Fedora.</span
    >
  </a>
</h5> 

</div>

 <p id="Astro" class="mb-4 text-base text-left font-bold">How to Build a Free Blog with Astro & Cloudflare</p>
    
    	<div class="my-1">

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=EMLuT8YN8Xs" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >How to Build a Free Blog with Astro & Cloudflare in 30 Minutes (No Wallet Required!)</span
    >
  </a>
</h5>

    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=HTFHoA12MJk" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Tailwind CSS v4.1: Text shadows, masks, and tons more Tailwind Labs</span
    >
  </a>
</h5>

   <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://astro.build/" rel="noopener" target="_blank"
    ><span
      class="text-white bg-purple-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >astro.build</span
    >
  </a>
</h5>

     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://github.com/zeon-studio/astroplate" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >astroplate</span
    >
  </a>
</h5>


     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://astroplate7.peter-244.workers.dev" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-sky-600 font-normal hover:bg-sky-800"
      >astroplate7</span
    >
  </a>
</h5>

</div>

<Pagelinks />