---

---

<!-- <RUMB /> -->	

<p class="mb-4 text-base text-left font-bold text-transform: uppercase ">rumble.com</p>


        	<span class="my-1"><a
      
        class="underline text-green-700 bg-black font-bold text-justify hover:text-green-400"
        target="_blank"
        rel="noopener noreferrer"
         href="https://rumble.com/user/projectcamelot">projectcamelot</a
      > <br> <a

        class="underline text-white bg-green-500 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/PatriotStreetfighter?">PatriotStreetfighter</a
      > <br> <a
              class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/Vm23K8CQOGQR/">The Patriot Streetfighter</a
      > <br> <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/CaptKylePatriot">Capt Kyle</a
      > <br> <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM">@QTHESTORMM</a

      > | <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM/status/2007361394728136753">ITS COMING ...</a


      > | <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/v74bliu-gene-decode-current-events-1.14.26-indictments-exposed.html?e9s=src_v1_ucp_a"
        >Gene Decode Current Events 1.14.26 - Indictments Exposed</a


      > | <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM/status/2007361394728136753"
        >Gene Decode: It's All Staged 1.15.26 - It Had To Be This Way!</a

     > | <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/NesaraGesara0/status/2006447344733102097">Scott McKay URGENT EMERGENCY DROP: Mass Traumatic Event INCOMING - Deep State Desperate Last Stand! 12.31.25</a
  >
    </span>

    Are You Funding the Deep State? - 2026 is the Year of the Great Revealing - Join the Spiritual War

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v73sdpw-are-you-funding-the-deep-state-2026-is-the-year-of-the-great-revealing-join.html" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
      >Are You Funding the Deep State? - 2026 is the Year of the Great Revealing - Join the Spiritual War</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/CounterspinMedia" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
      >CounterspinMedia</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v4t8zhl-naturopath-barabara-oneill-big-pharmas-worst-nightmare.html?e9s=src_v1_upp_a" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
      >Naturopath Barbara O'Neill - BIG PHARMA'S WORST NIGHTMARE!</span
    >
  </a>
</h5>