---

---

<!-- <RUMB /> -->	

<p class="mb-4 text-base text-left font-bold text-transform: uppercase ">rumble.com</p>


        	<span class="my-1"><a
        class="underline text-white bg-green-500 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://rumble.com/c/PatriotStreetfighter?">PatriotStreetfighter</a
      > <br> <a
              class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bitchute.com/channel/Vm23K8CQOGQR/">The Patriot Streetfighter</a
      > <br> <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/CaptKylePatriot">Capt Kyle</a
      > <br> <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM">@QTHESTORMM</a

      > | <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM/status/2007361394728136753">ITS COMING ...</a

     > | <a
        class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/NesaraGesara0/status/2006447344733102097">Scott McKay URGENT EMERGENCY DROP: Mass Traumatic Event INCOMING - Deep State Desperate Last Stand! 12.31.25</a
  >
    </span>

    Are You Funding the Deep State? - 2026 is the Year of the Great Revealing - Join the Spiritual War

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v73sdpw-are-you-funding-the-deep-state-2026-is-the-year-of-the-great-revealing-join.html" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-700 font-bold text-justify text-transform: uppercase hover:bg-green-900"
      >Are You Funding the Deep State? - 2026 is the Year of the Great Revealing - Join the Spiritual War</span
    >
  </a>
</h5>