---

---

<!-- <SEARCH /> -->	

<p class="mb-4 text-base text-left font-bold text-transform: uppercase ">Search Engine.</p>



    		<span class="my-1"><a
        class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-500"
        target="_blank"
        rel="noopener noreferrer"
        href="https://yandex.com/">yandex</a
      > | <a
        class="underline text-yellow-300 bg-black font-bold text-justify hover:text-orange-500"
        target="_blank"
        rel="noopener noreferrer"
        href="https://ya.ru/">ya</a
        > | <a
        class="underline text-sky-700 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-500"
        target="_blank"
        rel="noopener noreferrer"
        href="https://presearch.com/">presearch</a
      > | <a
        class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-500"
        target="_blank"
        rel="noopener noreferrer"
        href="https://freespoke.com/">freespoke</a
      >
    </span>
