---
import Pagelinks from "./Pagelinks.astro";


---

<!-- <SEEARCH1 /> -->	

<Pagelinks />

<p  id="Search" class="mb-4 text-base text-left font-bold text-transform: uppercase ">Search Engine.</p>

    		<span class="my-1">
                        
     <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://yandex.com/" rel="noopener" target="_blank"
    ><span
      class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-500"
      >yandex</span
    >
  </a>
</h5>
      
      <br> 
      
      <a
        class="underline text-yellow-300 bg-black font-bold text-justify hover:text-orange-500"
        target="_blank"
        rel="noopener noreferrer"
        href="https://ya.ru/">ya</a
        > <br> <a
        class="underline text-sky-700 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-500"
        target="_blank"
        rel="noopener noreferrer"
        href="https://presearch.com/">presearch</a
      >  <br> <a
        class="underline text-yellow-300 bg-black font-bold text-justify text-transform: uppercase hover:text-orange-500"
        target="_blank"
        rel="noopener noreferrer"
        href="https://freespoke.com/">freespoke</a
      >
    </span>
