---

---

<!-- <WZONE /> -->	

<p>WeatherZone:</p>


        	<span class="my-1"><a
        class="underline text-white bg-blue-500 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/sydney/old-guildford">Old Guildford</a
      > | <a
              class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/sydney/guildford">guildford-w-zone</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/sydney/westmead">westmead-w-zone</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/central-tablelands/wentworth-falls">wentworth-falls</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/sydney/kingswood">kingswood</a
  >
    </span>


    	<span class="my-1"><a
        class="underline text-orange-600 bg-white font-bold text-justify  text-transform: uppercase  hover:text-orange-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.farmonlineweather.com.au/place/nsw/guildford/2161/current?station=bom-94765">guildford/2161-farmonlineweather</a
      > | <a
        class="underline text-white bg-sky-500 font-bold text-justify text-transform: uppercase hover:bg-sky-600"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bom.gov.au/location/australia/new-south-wales/metropolitan/o117158002-old-guildford">old-guildford-bom</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-sky-700 bg-white font-bold text-justify  text-transform: uppercase  hover:text-sky-600"
        target="_blank"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/worldclock/@9972700">timeanddate</a
      > | <a
        class="underline text-red-700 bg-white font-bold text-justify  text-transform: uppercase  hover:text-sky-600"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.eldersweather.com.au/local-forecast/nsw/guildford">eldersweather</a
      > | <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.9news.com.au/weather/nsw/guildford">9news.com.au</a
      >
    </span>


