---

---

<!-- <WZONE /> -->	

<p class="mb-4 text-base text-left font-bold">WeatherZone:</p>


        	<span class="my-1"><a
        class="underline text-white bg-blue-500 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/sydney/old-guildford">Old Guildford</a
      > | <a


        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.willyweather.com.au/nsw/greater-western-sydney/old-guildford.html">Old Guildford-will</a
      > | <a


        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/sydney/westmead">westmead-w-zone</a
      > <br> <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/central-tablelands/wentworth-falls">wentworth-falls</a
      > | <a
        class="underline text-white bg-blue-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.weatherzone.com.au/nsw/sydney/kingswood">kingswood</a
  >
    </span>


    	<span class="my-1"><a
        class="underline text-orange-600 bg-white font-bold text-justify  text-transform: uppercase  hover:text-orange-700"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.farmonlineweather.com.au/place/nsw/guildford/2161/current?station=bom-94765">guildford/2161-farmonlineweather</a
      > | <a
        class="underline text-white bg-sky-500 font-bold text-justify text-transform: uppercase hover:bg-sky-600"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bom.gov.au/location/australia/new-south-wales/metropolitan/o117158002-old-guildford"
        >old-guildford-bom</a
      >
    </span>


    	<span class="my-1"><a
        class="underline text-sky-700 bg-white font-bold text-justify  text-transform: uppercase  hover:text-sky-600"
        target="_blank"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.timeanddate.com/worldclock/@9972700">timeanddate</a

      > <br> <a
        class="underline text-red-700 bg-white font-bold text-justify  text-transform: uppercase  hover:text-sky-600"
        target="_blank"
        rel="noopener noreferrer"
        href="https://eldersweather.com.au/forecast/nsw/old-guildford">Old Guildford-elders</a

      > | <a
        class="underline text-red-700 bg-white font-bold text-justify  text-transform: uppercase  hover:text-sky-600"
        target="_blank"
        rel="noopener noreferrer"
        href="https://eldersweather.com.au/forecast/nsw/guildford">Guildford-elders</a

      >
    </span>


