---

---

<!-- <XCOM /> -->	

<p class="mb-4 text-base text-left font-bold text-transform: uppercase ">x.com:</p>


        	<span class="my-1"><a
        class="underline text-white bg-sky-500 font-bold text-justify text-transform: uppercase hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/KimDotcom">Kim Dotcom</a
      > <br> <a
              class="underline text-white bg-sky-700 font-bold text-justify text-transform: uppercase hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/PaulGoldEagle">Paul White Gold Eagle</a
      > <br> <a
        class="underline text-white bg-sky-700 font-bold text-justify text-transform: uppercase hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/CaptKylePatriot">Capt Kyle</a
      > <br> <a
        class="underline text-white bg-sky-700 font-bold text-justify text-transform: uppercase hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM">@QTHESTORMM</a

      > | <a
        class="underline text-white bg-sky-700 font-bold text-justify text-transform: uppercase hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM/status/2007361394728136753">ITS COMING ...</a


      > <br> <a
        class="underline text-white bg-sky-700 font-bold text-justify text-transform: uppercase hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/BIGDADDY17west/status/2006032410551488829"
        >GLORFIN OUR FRIENDLY REPTILIAN SPITTING OUT SOME TRUTH PAY ATTENTION.</a


     > | <a
        class="underline text-white bg-sky-700 font-bold text-justify text-transform: uppercase hover:bg-sky-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/NesaraGesara0/status/2006447344733102097">Scott McKay URGENT EMERGENCY DROP: Mass Traumatic Event INCOMING - Deep State Desperate Last Stand! 12.31.25</a
  >
    </span>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Prolotario1" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white text-base hover:text-lg hover:text-slate-800"
      >Ariel</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://operationdisclosureofficial.com/2025/07/05/ariel-prolotario1-underground-military-operations-targeting-dumbs-and-seismic-anomalies/" rel="noopener" target="_blank"
    ><span
      class="text-sky-700 bg-white text-base hover:text-lg hover:text-slate-800"
      >Ariel (Prolotario1): Underground Military Operations Targeting DUMBs and Seismic Anomalies</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/davidjsorensen" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-bold hover:bg-slate-800"
      >StopWorldControl.com</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/SiriusBShaman" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-bold hover:bg-slate-800"
      >SiriusB@SiriusBShaman</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/CaptKylePatriot" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-bold hover:bg-slate-800"
      >Capt Kyle@CaptKylePatriot</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/JoeTippen" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 text-base hover:text-lg hover:bg-slate-800"
      >Joe Tippens@JoeTippen</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/kerririvera123" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-bold hover:bg-slate-800"
      >Kerri Rivera@kerririvera123</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://kerririvera.com/" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-600 text-base hover:text-lg hover:bg-pink-800"
      >https://kerririvera.com/</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@Kerri-Rivera-Autism-Chlorine-Dioxide:7/Mike-Adams-Kerri-Rivera-interviewed-about-chlorine-dioxide-vs.-autism:a" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-lime-500 font-bold text-justify text-transform: uppercase hover:text-pink-700 hover:bg-yellow-200"
      >Mike Adams: Kerri Rivera interviewed about chlorine dioxide vs. autism, 2020(odysee.com)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://1954.date/rivera/#odysee" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-600 text-base hover:text-lg hover:bg-pink-800"
      >Mike Adams: Kerri Rivera interviewed about chlorine dioxide vs. autism, 2020(odysee.com)</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/7d2d9c1a-c4ca-47bb-aadd-d2973b1d26d4" rel="noopener" target="_blank"
    ><span
      class="text-white bg-pink-600 text-base hover:text-lg hover:bg-pink-800"
      >AutismOne 2014 - Andreas Kalcker -  Treatment of Autism (CDS)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/MichaelSalla/status/2010979645189955873" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 text-base hover:text-lg hover:bg-slate-800"
      >Elon Musk wants to make Star Trek and Starfleet Academy real, and that SpaceX may eventually encounter aliens or their dead civilizations.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/JoeTippen/status/2010715368872952216" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white text-base hover:text-lg hover:text-slate-800"
      >For those who may not be familiar with my offer, I am providing a complete kit for the Joe Tippens protocol</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/JoeTippen" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white text-base hover:text-lg hover:text-slate-800"
      >Joe Tippens@JoeTippen</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/JFKPascalUSSF" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white text-base hover:text-lg hover:text-slate-800"
      >JFK PASCAL NAJADI ( USSF )</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/jasper_truth" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white text-base hover:text-lg hover:text-slate-800"
      >Jasper Truth</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/GhostEzraQ" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white text-base hover:text-lg hover:text-slate-800"
      >@GhostEzraQ</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/PaulGoldEagle/status/2007682244102783282" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white text-base hover:text-lg hover:text-slate-800"
      >MEDBED IS NOT FUNDED BY GOVERNMENTS. IT IS FUNDED BY PURPOSE.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/PaulGoldEagle/status/2010141690464743630" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white text-base hover:text-lg hover:text-slate-800"
      >A Great Cycle—one of approximately 26,000 years—has Now reached completion. . . marking an extraordinary juncture in the Grand Tapestry of Time.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/MichaelSalla/status/2010142062897946823" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white text-base hover:text-lg hover:text-slate-800"
      >Hidden Reasons Trump Will Aquire Greenland, David Grusch reveals more... Exopolitics Today - Week in Review:</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/PastorBobJ56786" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white text-base hover:text-lg hover:text-slate-800"
      >Pastor Bob Joyce</span
    >
  </a>
</h5>
