---

---

<!-- <YOUT /> -->	

<p class="mb-4 text-base text-left font-bold text-transform: uppercase ">www.youtube.com</p>


        	<span class="my-1"><a
        class="underline text-white bg-red-500 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@NootropicsExpert/featured">NootropicsExpert</a
      > <br> <a
              class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=L4XRyVjatzE">BREAKING: CDC Issues Ongoing SUPER FLU Alert: WHAT They DON'T TELL YOU</a
      > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/CaptKylePatriot">Capt Kyle</a
      > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM">@QTHESTORMM</a

      > | <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM/status/2007361394728136753">ITS COMING ...</a

     > | <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/NesaraGesara0/status/2006447344733102097">Scott McKay URGENT EMERGENCY DROP: Mass Traumatic Event INCOMING - Deep State Desperate Last Stand! 12.31.25</a
  >
    </span>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/7d2d9c1a-c4ca-47bb-aadd-d2973b1d26d4" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >AutismOne 2014 - Andreas Kalcker -  Treatment of Autism (CDS)</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@Kerri-Rivera-Autism-Chlorine-Dioxide:7/Mike-Adams-Kerri-Rivera-interviewed-about-chlorine-dioxide-vs.-autism:a" rel="noopener" target="_blank"
    ><span
      class="underline text-yellow-200 bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Kerri Rivera interviewed about chlorine dioxide vs. autism with Mike Adams (2020)</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/93fc93ed-a975-4610-b1d0-a581214f807f" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
      >Kerri Rivera interviewed about chlorine dioxide vs. autism with Mike Adams (2020)</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/a01f0f5a-4da5-443a-8a9a-80a01156f017" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-normal hover:bg-sky-800"
      >Health Reform: Barbara O'Neill Says Childhood Vaccines Are Poison! (video)</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/ae9cb8b4-93d3-4668-b27d-20bb40512579" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >Vaccine Ingredients Exposed---(children's health defense video)</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/8xpLVhSwuFvO/" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-normal hover:bg-sky-800"
      >THE VACCINATED ARE EMITTING BLUETOOTH SIGNALS! GROWTHS REMOVED FROM THE DEAD ARE METALLIC!</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/abed3030-c975-4281-b540-ff34b258b3a9" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >Extermination Shots - Former Vice President Of Pfizer - Dr. Michael Yeadon Gives His Conclusions</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/wwwehVcevFYP/" rel="noopener" target="_blank"
    ><span
      class="text-white bg-sky-600 font-normal hover:bg-sky-800"
      >AUSTRIA GOES FULL NAZI - MANDATORY VACCINES ARE A WAR CRIME AGAINST HUMANITY</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=263363" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >JUST IN: THE VACCINE LIE COLLAPSES: RFK Jr. Warns None Are Safe, None Are Effective – Big Pharma Faces Judgment Day [VIDEO]</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://thehighwire.com/ark-videos/the-real-history-of-polio/" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >THE REAL HISTORY OF POLIO</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v706nxu-october-8-2009-anniversary-of-our-xmrv-paper-that-destroyed-them.html?" rel="noopener" target="_blank"
    ><span
      class="text-white bg-green-600 font-normal hover:bg-sky-800"
      >October 8 2009 Anniversary of our XMRV paper that destroyed them</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6zfy0u-my-words-in-my-books-have-never-been-challenged.html" rel="noopener" target="_blank"
    ><span
      class="text-white bg-green-600 font-normal hover:bg-sky-800"
      >My words in my books have never been challenged</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@teksyndicate" rel="noopener" target="_blank"
    ><span
      class="text-white bg-red-600 font-normal hover:bg-red-800"
      >Tek Syndicate</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=NjZjpe98HBg&t=1s" rel="noopener" target="_blank"
    ><span
      class="text-white bg-red-600 font-normal hover:bg-red-800"
      >How to Take Windows BACK from Microslop - USE LTSC (or Linux)</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/shorts/ZehmWh71wFk" rel="noopener" target="_blank"
    ><span
      class="text-white bg-red-600 font-normal hover:bg-red-800"
      >Eisenhower's alleged secret campaign against the Nazis!</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/shorts/vK4gZhavNzg" rel="noopener" target="_blank"
    ><span
      class="text-white bg-red-600 font-normal hover:bg-red-800"
      >Eisenhower's covert assault on Dulce: The Delta Force massacre story</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v74djoe-dan-cooper-eisenhowers-hidden-war.html" rel="noopener" target="_blank"
    ><span
      class="text-white bg-green-600 font-normal hover:bg-sky-800"
      >Dan Cooper: Eisenhower's Hidden War!</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=PN5U-i_ojD0" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-red-800"
      >Super Soldier Daniel Cooper joins with Laura Eisenhower to discuss SSP, CIA and free energy. Michael Jaco</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=s-c6HLmT2vQ" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-red-800"
      >Super Soldier Talk Secrets - Dan Cooper - Breaking the Silence Super Soldier Talk</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/IudT1vLC1w2q/" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-red-800"
      >Super Soldier Daniel Cooper joins with Laura Eisenhower to discuss SSP, CIA and free energy.</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=6qiCJ5KYVIU&t=446s" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-gray-600 font-normal hover:bg-gray-800"
      >Boron - the only supplement I regularly take David Miller</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=iCLclPXXzgg&t=191s" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-orange-500 font-normal hover:bg-orange-800"
      >Murray's Blind Eye starts working after DMSO Red Flyer Media</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=l7pHeXqbN4s" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-red-600 font-normal hover:bg-red-800"
      >Japan's Oldest Doctor: 1 Vitamin That Eliminates Gray Hair Naturally</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v74djoe-dan-cooper-eisenhowers-hidden-war.html" rel="noopener" target="_blank"
    ><span
      class="text-white bg-green-600 font-normal hover:bg-sky-800"
      >Dan Cooper: Eisenhower's Hidden War!</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/LauraEisenhower?" rel="noopener" target="_blank"
    ><span
      class="text-white bg-green-600 font-normal hover:bg-sky-800"
      >Laura Eisenhower</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v737eyu-how-much-they-spend-to-hide-the-truth.html" rel="noopener" target="_blank"
    ><span
      class="text-white bg-green-600 font-normal hover:bg-sky-800"
      >How Much They Spend to Hide the Truth!</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v3hknri-nino-laura-eisenhower-and-brad-olson-interview-highlights.html" rel="noopener" target="_blank"
    ><span
      class="text-white bg-green-600 font-normal hover:bg-sky-800"
      >NINOS CORNER ~LAURA EISENHOWER ~BRAD OLSON INTERVIEW HIGHLIGHTS</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=5-mmWB7SUmg" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-purple-600 font-bold text-justify hover:bg-purple-900"
      >EP 392 | Ex Marine: Michael Selig | Alien Manipulation & Deep State Deceit | Exposing a Covert Evil</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=7Qqe7lGC9rQ&t=45s" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-purple-600 font-bold text-justify hover:bg-purple-900"
      >#404 | GENE DECODE | 2026 SITREP | Alliance Operations | Art of War | Time Travel & The Golden Dome</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=2y6QlIjwbZU" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-purple-600 font-bold text-justify hover:bg-purple-900"
      >EP 381 | Johan Fritz | Former Marine Blows Whistle On Secret Space Program | EP 103 & 104 Condensed</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@VRP_Archive:7/Super-Soldier-Talk-%E2%80%93-Johan-Fritz-SSP-in-Person-Interview,-Mar-29,-2021%F0%9F%91%8D%F0%9F%98%8A%F0%9F%92%9C:3" 
  rel="noopener" target="_blank"
    ><span
      class="underline text-yellow-100 bg-pink-700 font-bold text-justify hover:bg-pink-900"
      >Super Soldier Talk – Johan Fritz SSP in Person Interview, Mar 29, 2021👍😊💜 [backup]</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/vkr11m-super-soldier-talk-johan-fritz-ssp-in-person-interview.html" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-green-600 font-normal hover:bg-sky-800"
      >Super Soldier Talk – Johan Fritz SSP in Person Interview</span
    >
  </a>
</h5>


