---

---

<!-- <YOUT /> -->	

<p class="mb-4 text-base text-left font-bold text-transform: uppercase ">www.youtube.com</p>


        	<span class="my-1"><a
        class="underline text-white bg-red-500 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@NootropicsExpert/featured">NootropicsExpert</a
      > <br> <a
              class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=L4XRyVjatzE">BREAKING: CDC Issues Ongoing SUPER FLU Alert: WHAT They DON'T TELL YOU</a
      > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/CaptKylePatriot">Capt Kyle</a
      > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM">@QTHESTORMM</a

      > | <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM/status/2007361394728136753">ITS COMING ...</a

     > | <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/NesaraGesara0/status/2006447344733102097">Scott McKay URGENT EMERGENCY DROP: Mass Traumatic Event INCOMING - Deep State Desperate Last Stand! 12.31.25</a
  >
    </span>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/7d2d9c1a-c4ca-47bb-aadd-d2973b1d26d4" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >AutismOne 2014 - Andreas Kalcker -  Treatment of Autism (CDS)</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@Kerri-Rivera-Autism-Chlorine-Dioxide:7/Mike-Adams-Kerri-Rivera-interviewed-about-chlorine-dioxide-vs.-autism:a" rel="noopener" target="_blank"
    ><span
      class="underline text-yellow-200 bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-pink-900"
      >Kerri Rivera interviewed about chlorine dioxide vs. autism with Mike Adams (2020)</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/93fc93ed-a975-4610-b1d0-a581214f807f" rel="noopener" target="_blank"
    ><span
      class="underline text-white bg-pink-700 font-bold text-justify text-transform: uppercase hover:bg-blue-900"
      >Kerri Rivera interviewed about chlorine dioxide vs. autism with Mike Adams (2020)</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/a01f0f5a-4da5-443a-8a9a-80a01156f017" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >Health Reform: Barbara O'Neill Says Childhood Vaccines Are Poison! (video)</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/ae9cb8b4-93d3-4668-b27d-20bb40512579" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >Vaccine Ingredients Exposed---(children's health defense video)</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/8xpLVhSwuFvO/" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >THE VACCINATED ARE EMITTING BLUETOOTH SIGNALS! GROWTHS REMOVED FROM THE DEAD ARE METALLIC!</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/8xpLVhSwuFvO/" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >THE VACCINATED ARE EMITTING BLUETOOTH SIGNALS! GROWTHS REMOVED FROM THE DEAD ARE METALLIC!</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/abed3030-c975-4281-b540-ff34b258b3a9" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >Extermination Shots - Former Vice President Of Pfizer - Dr. Michael Yeadon Gives His Conclusions</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/wwwehVcevFYP/" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >AUSTRIA GOES FULL NAZI - MANDATORY VACCINES ARE A WAR CRIME AGAINST HUMANITY</span
    >
  </a>
</h5>

 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=263363" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >JUST IN: THE VACCINE LIE COLLAPSES: RFK Jr. Warns None Are Safe, None Are Effective – Big Pharma Faces Judgment Day [VIDEO]</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://thehighwire.com/ark-videos/the-real-history-of-polio/" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-white font-light hover:text-slate-800"
      >THE REAL HISTORY OF POLIO</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v706nxu-october-8-2009-anniversary-of-our-xmrv-paper-that-destroyed-them.html?" rel="noopener" target="_blank"
    ><span
      class="text-green-600 bg-white font-light hover:text-slate-800"
      >October 8 2009 Anniversary of our XMRV paper that destroyed them</span
    >
  </a>
</h5>


 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6zfy0u-my-words-in-my-books-have-never-been-challenged.html" rel="noopener" target="_blank"
    ><span
      class="text-green-600 bg-white font-light hover:text-slate-800"
      >My words in my books have never been challenged</span
    >
  </a>
</h5>



