---

---

<!-- <YOUT /> -->	

<p class="mb-4 text-base text-left font-bold text-transform: uppercase ">www.youtube.com</p>


        	<span class="my-1"><a
        class="underline text-white bg-red-500 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@NootropicsExpert/featured">NootropicsExpert</a
      > <br> <a
              class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/watch?v=L4XRyVjatzE">BREAKING: CDC Issues Ongoing SUPER FLU Alert: WHAT They DON'T TELL YOU</a
      > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/CaptKylePatriot">Capt Kyle</a
      > <br> <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM">@QTHESTORMM</a

      > | <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/QTHESTORMM/status/2007361394728136753">ITS COMING ...</a

     > | <a
        class="underline text-white bg-red-700 font-bold text-justify text-transform: uppercase hover:bg-red-900"
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/NesaraGesara0/status/2006447344733102097">Scott McKay URGENT EMERGENCY DROP: Mass Traumatic Event INCOMING - Deep State Desperate Last Stand! 12.31.25</a
  >
    </span>
